<% title "Изменение профиля компании" -%>
<hr />
<%= twitter_bootstrap_form_for  @firm, :url => change_profile_path, :html => {:id => "firm_profile", :class => "well"} do |f| -%>  
  <div class="pull-right">
    <%= image_tag @firm.logo, :title => "Это ваш текущий логотип" %>
  </div>
   <%= f.text_field :name %>
   <%= f.file_field :picture, "Логотип (.jpg, .png, .gif)" %>         
   
  <h3>Информация о комании:  
    <small> <%= link_to_function 'Изменить',"$(this).hide().parents('h3').next().hide('fast', function() {$(this).next().show('fast')})"   %> </small> 
  </h3>
    <div>
     <%= sanitize @firm.addr_f %>            
    </div>    
  <div class="tinymce hide">
    <%= f.text_area :addr_f, "Название, контакты, веб-сайт:", :cols=>100, :rows=>10 %>
  </div>  

   <h3>Условия работы:  
     <small><%= link_to_function 'Изменить',"$(this).hide().parents('h3').next().hide('fast', function() {$(this).next().show('fast')})"   %></small>
   </h3>
    <div>
      <%= sanitize @firm.description %>            
    </div>
  
  <div class="tinymce hide">
    <%= f.text_area :description, "Порядок работы с клиентами, мин. сумма заказа, склады, сроки поставки, образцы:", :cols=>100, :rows=>10 %>
  </div>      
    <%= submit_action f %>
 <% end -%>


<%= link_to 'Посмотреть как рекламные агентства видят мою страницу', main_app.supplier_path(@firm.supplier.permalink) if @firm.supplier  %>
