<% if ext_user? &&  @product.cached_store_units.present?  -%>
<div class="b-product-store-units">
  <% @product.cached_store_units.group_by(&:store).each do |store, su| -%> 
<table>
  <tr>
    <th>Склад</th>
    <th>Доступно на складе</th>
    <th>Из них в резерве</th>
    <th>Планируется поставка</th>
  </tr>
  <tr>
    <td><%= store.location %></td>
    <td class="stock"><%= units_count su, 1  %></td>
    <td><%= units_count su, 2  %></td>
    <td><%= units_count su, 3  %></td>
  </tr>
  <tr>
    <td class="delivery" colspan="4"><%= store.delivery_time %></td>
  </tr>
  <tr>
    <td class="info" colspan="4"><%= su.map(&:created_at).last ? su.map(&:created_at).last.strftime("%d.%m.%Y %H:%M") : @product.updated_at.strftime("%d.%m.%Y %H:%M") %></td>    
  </tr>
</table>  
  <% end -%>  
</div>
<% end -%>
