<% page_title "Все сувениры для бизнеса" -%>
<% content_for :meta_description, "giftb2b.ru" -%>
<% content_for :meta_keywords, "gifts" -%>
<% content_for :document_ready, "run_scrollable();" -%>

  <div class="scrollable-control">
    <%= link_to 'Новинки!', change_scrollable_main_index_path, :remote => true, :id => "novelty_link", :class => "selected"  %>
   <%= link_to "Распродажа!", change_scrollable_main_index_path(:sale => 1), :remote => true, :id => "sale_link" %> 
 <span class="ajax_animation">
<%= image_tag "loading.gif", :alt => "Loading.." %>
	      </span>   
 </div>
  <div id="scrollable">	      
	  <div class="scrolling scrollingHotSpotLeft"></div>
	  <div class="scrolling scrollingHotSpotRight"></div>
	  <div class="scrolling scrollWrapper">
	  	<div id="scrollableArea" class="scrollableArea">
        <%= render :partial => 'novelty' %>
	  	</div>
	  </div>
  </div>
<div class="spacer"></div>  
<div class="spacer"></div>  
  <%= render :partial => 'shared/banner', :locals => {:position => 1} %>
<div class="spacer"></div>
<div class="center_block">
<%= render :partial => 'shared/catalog_img' %>

</div> 

