<%= form_for @sample do |f| %>
  <%= f.hidden_field :user_id %>
 <%= render :partial => 'admin/shared/error_messages', :locals => {:target => @sample} %>
 <div class="b-float-left">
  <div class="one_line_form">
    <div class="b-formfield-div">
      <%= f.label :name, "Название образца" %>
      <%= f.text_field :name %>
    </div>
    <% if current_user.is_firm_manager? || current_user.is_admin? -%>      
    <div class="b-formfield-div">
      <%= f.label :closed, "Деньги возвращены" %>
      <%= f.check_box :closed %>
    </div>    
    <% end -%>
   </div>
  </div>
  <div class="b-float-left margin-left2">
   <div class="one_line_form">
    <div class="b-formfield-div">
      <%= f.label :responsible_id  %>
      <%= f.select :responsible_id, options_from_collection_for_select(@responsibles, 'id', 'fio', @sample.responsible_id ), { :include_blank => true } %>
    </div>
   </div>
  </div>  
<div class="clear spacer"></div>
<div class="b-float-left">
  <h3>Информация о поставщике:</h3>
  <div class="one_line_form">
  <div class="b-formfield-div">
    <%= f.label :supplier_id, "Поставщик" %>
    <%= f.select :supplier_id, options_from_collection_for_select(@suppliers, 'id', 'name', @sample.supplier_id) %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :buy_date, "Дата покупки" %>
    <%= f.text_field :buy_date, :class => "datepicker" %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :buy_price, "Сумма" %>
    <%= f.text_field :buy_price %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :supplier_return_date, "Дата возврата" %>
    <%= f.text_field :supplier_return_date, :class => "datepicker" %>
  </div>
  </div>    
</div>
<div class="b-float-left margin-left2">
  <h3>Информация о клиенте:</h3>
    <div class="one_line_form">
  <div class="b-formfield-div">
    <%= f.label :lk_firm_id %>   
    <%= link_to image_tag("add.png"), new_firm_path(:back_url => request.path), :id => "add_firm_link", :title => "Добвить нового клиента" %> 
    <%= link_to image_tag("edit.png"), edit_firm_path(@firms.first.id, :back_url => request.path), :id => "edit_firm_link", :title => "Редактировать информацию о клиенте" if @firms.present? %>    
    <%= f.select :lk_firm_id, options_from_collection_for_select(@firms, 'id', 'name', @sample.lk_firm_id) %>
    <script type="text/javascript">
    $('#sample_lk_firm_id').change(
      function(){
        $('#edit_firm_link').attr('href','/lk/firms/'+this.value + "/edit?back_url=<%= request.path %>");
      });
    </script>      
  </div>
  <div class="b-formfield-div">
    <%= f.label :sale_date, "Дата продажи" %>
    <%= f.text_field :sale_date, :class => "datepicker" %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :sale_price, "Сумма" %>
    <%= f.text_field :sale_price %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :client_return_date, "Дата возврата" %>
    <%= f.text_field :client_return_date, :class => "datepicker" %>
  </div>
  </div>    
</div>
<div class="spacer clear"></div>
  <div>
  <%= f.submit "Сохранить" %>
  </div>
<% end -%>
<div class="clear spacer"></div>
