<%= twitter_bootstrap_form_for @sample, :html => {:class => "well"} do |f| %>
  <%= f.hidden_field :user_id %>
  <div class="row">
    <div class="span4">
      <%= f.text_field :name %>
      <%= f.check_box :closed, "Деньги возвращены" if current_user.is_admin?  %>
    </div>
    <div class="span4">
      <%= f.select :responsible_id, "Ответственный", options_from_collection_for_select(@responsibles, 'id', 'fio', @sample.responsible_id ),{:include_blank => true } %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Информация о поставщике:</h3>
        <%= f.select :supplier_id, "Название поставщика", options_from_collection_for_select(@suppliers, 'id', 'name', @sample.supplier_id) %>
        <%= f.text_field :buy_date, :data => {:datepicker => "datepicker"} %>
        <%= f.text_field :buy_price %>
        <%= f.text_field :supplier_return_date, :data => {:datepicker => "datepicker"} %>   
    </div>
    <div class="span4">
    <h3>Информация о клиенте:</h3>    
        <%= f.select :lk_firm_id, "Название клиента", options_from_collection_for_select(@firms, 'id', 'name', @sample.lk_firm_id), {},  {:id => :lk_firm_id} do %>         
        <%= link_to image_tag("add.png"), "#new_client_modal", :id => "add_firm_link", :title => "Добвить нового клиента", :data => {:toggle => "modal"} %> 
         <% end -%>
        <%= f.text_field :sale_date, :data => {:datepicker => "datepicker"} %>
        <%= f.text_field :sale_price %>
        <%= f.text_field :client_return_date, :data => {:datepicker => "datepicker"} %>    
    </div>    
  </div>
    <%= submit_action f %>
<% end -%>
<%= render :partial => 'lk/firms/modal' %>
