<% page_title "Учет образцов" -%>
<h1>Учет образцов</h1>
<div class="b-command-menu">
  <%= link_to "Добавить новый образец", new_sample_path, :class => "btn btn-primary" %>
</div>

<div id="filter">
<%= form_tag "/lk/samples", :method => :get, :class=> "form-search well" do -%>
<p>
<%= text_field_tag :name, params[:name], :placeholder => "Название" %>
<%= select_tag :supplier, options_from_collection_for_select(@suppliers, 'id', 'name', params[:supplier]), :prompt => "<= Поставщик =>" %>
<%= select_tag :client, options_from_collection_for_select(@firms, 'id', 'name', params[:client]), :prompt => "<= Фирма =>" %>
<%= select_tag :responsible, options_from_collection_for_select(@responsibles, 'id', 'fio', params[:responsible]), :prompt => "<= Ответственный =>" %>
<button class="btn" type="submit"><i class="icon-search"></i> Найти</button>
</p>
<p>
<%= check_box_tag :only_my, "1", params[:only_my].blank? || params[:only_my] == "1" %> <%= label_tag :only_my, "Только мои", :title => "Показывать только те образцы, которые созданы Вами, или где Вы назначен ответственным." %> 
<%= check_box_tag :hide_closed, "1", params[:hide_closed].blank? || params[:hide_closed] == "1" %> <%= label_tag :hide_closed, "Спрятать закрытые", :title => "Скрывать образцы, отмеченные менеджером как закрытые" %> 
</p> 
<% end -%>
</div>

<div id="samples_list">
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th></th>
  <th>Название</th>
  <th>Ответственный</th>  
  <th>Поставщик</th>
  <th>Сумма покупки</th>
  <th>Срок до</th>
  <th>Клиент</th>
  <th>Сумма продажи</th>
  <th>Срок до</th>
  <th class="th_lk"></th>
</tr>
<% @samples.each do |item| -%>
  <%= content_tag :tr, :class => can_edit_sample?(item) ? nil : "disabled-row" do %>
    <td><%= link_to image_tag('edit.png'), edit_sample_path(item) if can_edit_sample?(item) %></td>
    <td><%= item.name %></td>
    <td><%= item.responsible.fio if item.responsible %></td>
    <td><%= item.supplier.name if item.supplier %></td>
    <td><%= price_ru_label item.buy_price %></td>
    <td><%= I18n.l(item.supplier_return_date, :format => :short_year) if item.supplier_return_date %></td>    
    <td><%= item.lk_firm.name if item.lk_firm %></td>
    <td><%= price_ru_label item.sale_price %></td>
    <td><%= I18n.l(item.client_return_date, :format => :short_year) if item.client_return_date %></td>        
    <td><%= link_to image_tag('remove.png'), sample_path(item), :method => :delete, :confirm => "Удалить?", :title => "Удалить" if can_edit_sample?(item) %></td>    
  <% end -%>
<% end -%>
</table>

<%= will_paginate @samples %>

</div>
