<%= twitter_bootstrap_form_for  @news, :html => {:class=> "well", :id => "news_form"} do |f| %>
    <div class="pull-right">
       <%= image_tag(@news.picture.url(:thumb)) %>
    </div>
    <%= f.text_field :title %>
    <%= f.file_field :picture %>     
    <% if @news.picture.present? -%>
    <% end -%>
  <div class="tinymce">
    <%= f.text_area :body, :cols=>110, :rows=>25 %>
  </div>  
  <%= f.actions do %>
    <%= link_to "Предпросмотр", main_app.news_url(@news, :host => "giftb2b.ru"), :class => "btn", :id => "preview" unless @news.new_record? %>
    <%= f.submit "Сохранить в черновики" %>
    <%= f.submit "Отправить на модерацию", :name => "moderate" %> 
  <% end -%>
<% end %>
<%= render :partial => 'warn' %>
