<table width="100%">
  <tr>
    <th>Изображение</th>
    <th>Артикул</th>
    <th>Наименование</th>
    <th>Цена за шт</th>
    <th>Кол-во</th>
    <th>Сумма</th>
    <th></th>
  </tr>
  <% @cart.items.each do |item| -%>
    <tr>
      <td><%= product_image item.product %></td>
      <td><%= article item.product %></td>
      <td><%= item.product.short_name %></td>
      <td><%= product_price(item.product) %></td>
      <td><%= text_field_tag "cart_items[#{item.product.id}]", item.quantity, :class => "inp-quantity" %></td>
      <td><%= number_to_currency item.price, :unit => 'руб.' %></td>
      <td><%= link_to image_tag('bin.png'), cart_path(item.product.id), :remote => true, :method => :delete, :confirm => "Удалить товар из корзины?" %></td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="3"><%= submit_tag "Пересчитать" %></td>
    <td>Итого:</td>
    <td><%= @cart.total_items %> шт.</td>
    <td colspan="2"><%= number_to_currency @cart.total_price, :unit => 'руб.'  %></td>
  </tr>
</table>
