 <h3>Оформление нового заказа:</h3>      
        <%= form_for @lk_order, :url => lk_user_orders_path do |f| -%>
        <%= render :partial => 'admin/shared/error_messages', :locals => {:target => @lk_order} %>
        <% unless current_user -%>
          <div class="one_line_form">
          <div class="b-formfield-div">
            <%= f.label :user_name, "Ваше имя:" %><span>*</span>
            <%= f.text_field :user_name %>  
          </div>
          <div class="b-formfield-div">
            <%= f.label :user_phone, "Контактный тел:" %>
            <%= f.text_field :user_phone %>  
          </div>
          <div class="b-formfield-div">
            <%= f.label :user_email, "Email:" %><span>*</span>
            <%= f.email_field :user_email %>  
          </div>                       
          </div>       
          <div class="clear"></div>
        <% end -%>            
        <div class="order-comment">
            <p>
              <%= f.label :user_comment, "Комментарий к заказу:" %> 
            </p>
            <%= f.text_area :user_comment,  :rows => 5, :style => "width:100%" %>
        </div>
        <div class="spacer"></div>
        <h3>Выбор компании:</h3>
        <div class="firm-list">
        <%= render :partial => 'firms/city_filter' %>
        <%= render :partial => 'firms/firms', :locals => {:send_order => true} %>
        </div>
        <% end -%>  

