 <h3>Оформление нового заказа:</h3>      
 
     <%= content_tag :div, flash[:alert], :id => "flash_alert", :class => "corner-all" if flash[:alert] %>
            <%= form_for @lk_order, :url => lk_user_orders_path do |f| -%>
        <%= render :partial => 'admin/shared/error_messages', :locals => {:target => @lk_order} %>     
        <div class="order-comment">
            <p>
              <%= f.label :user_comment, "Комментарий к заказу:" %> 
            </p>
            <%= f.text_area :user_comment,  :rows => 5, :style => "width:100%" %>
        </div>
        <div class="spacer"></div>
        <h3>Выбор компании:</h3>
        <div class="firm-list">
        <%= render :partial => 'firms/city_filter' %>
        <%= render :partial => 'firms/firms', :locals => {:send_order => true} %>
        </div>
        <% end -%>  

