<div class="content"> 
<h1>Ваша корзина:</h1>

<% form_tag "cart/calculate", :remote => true  do -%>
<div id="cart_items">
  <%= render :partial => "cart_items"  if @cart.total_items >0%>
</div>

<% end -%>

     <% if current_user && session[:cart] && session[:cart].total_items >0 && current_user.is_firm_user?  -%>
        <p><%= link_to_function "Оформить заказ", "$('#order').toggle()"  %></p>  
        <div id="order" class="g-hidden">
          <div class="spacer"></div>
         <%= render :partial => "generate_order" %>
        </div>
        <div class="spacer clear"></div>
        <p> <%= link_to_function "Преобразовать в коммерческое предложение", "$('#commercial_offer').toggle()" %></p>
        <div class="spacer"></div>
        <div id="commercial_offer" class = "g-hidden">
         <%= render :partial => "generate_co" %>
        </div>
      <% end -%>
</div>
