<%= render 'admin/shared/sub_menu_data_changes' %>
<% title "Импорт данных" -%>
 <%= javascript_tag :defer => 'defer' do -%>
    $(function() {
      $('form').ajaxForm({dataType: 'script'});
    })
<% end -%>    
<% unless @can_upload -%>
  <script>processing_in_progress();</script>
 <div id="cancel">
<%= link_to 'Отмена', stop_admin_data_change_path(@bw), :remote => true %>
</div>
  
<% else -%>
  <%= render :partial => "file_upload"%> 
<% end -%>



<div id="progress"></div>

<div class="spacer"></div>
<div id="last_workers">
<%= render :partial => 'job_items' %>
</div>
