<div class="g-left">
    <%= render :partial => 'shared/error_messages', :locals => {:target => @account} %>
     <%= form.hidden_field :company_name %>
    <div class ="b-formfield-div">
      <%= form.label :username, "Имя пользователя" %>
      <%= form.text_field :username %>
    </div>
  <div class ="b-formfield-div">
      <%= form.label :fio %>
      <%= form.text_field :fio %>
    </div>    
    <div class ="b-formfield-div">
      <%= form.label :firm_id, "Фирма" %>
      <%= form.select :firm_id, @firms, {:include_blank => true} %>
    </div>        
    <div class ="b-formfield-div">
      <%= form.label :supplier_id, "Поставщик" %>
      <%= form.select :supplier_id, @suppliers, {:include_blank => true} %>
    </div>    
    <div class ="b-formfield-div">
      <%= form.label :appoint, "Должность" %>
      <%= form.text_field :appoint %>
    </div>          
    <div class ="b-formfield-div">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
    </div>
    <div class ="b-formfield-div">
      <%= form.label :password, "Пароль" %>
      <%= form.password_field :password %>
    </div>   
    <div class ="b-formfield-div">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>
       
    <div class ="b-formfield-div">
      <%= form.label :phone, "Телефон" %>
      <%= form.text_field :phone %>
    </div>
    <div class ="b-formfield-div">
      <%= form.label :skype, "Skype" %>
      <%= form.text_field :skype %>
    </div>      
    <div class ="b-formfield-div">
      <%= form.label :icq, "ICQ" %>
      <%= form.text_field :icq %>
    </div>      
    <div class ="b-formfield-div">
      <%= form.label :cellphone, "Моб. телефон" %>
      <%= form.text_field :cellphone %>
    </div>    
    <div class="b-formfield-div">
      <%= form.label :expire_date, "Срок действия" %>
      <%= form.text_field :expire_date, :class => "datepicker" %>
    </div>    
    
    <div class="b-formfield-div">
      <%= form.label :birth_date, "Дата рождения" %>
      <%= form.text_field :birth_date, :class => "datepicker" %>
    </div>        
    <div class ="b-formfield-div">
      <%= form.label :active, "Активировать?" %>
      <%= form.check_box :active %>
    </div>
    <div class ="b-formfield-div">
      <%= form.submit "Сохранить" %>
    </div>
</div>    

<div class="g-left margin-left">
<h3>Роль пользователя:</h3>
   <% Role.all.group_by(&:group).each do |gr, items| %>
   <p>
   <% items.each do |r| -%>
      <%= check_box_tag "admin_account[role_object_ids][]", r.id, @account.role_objects.include?(r), :id => r.id  %> <%= label_tag r.id, r.name %> <br />
   <% end -%>
   </p>       
  <%end%>
</div>
