<h1>Информация о пользователе   <%= @account.fio %>  </h1>

<p>
  Имя пользователя для входа в систему: <%= @account.username %>
</p>
<p>
 Пароль пользователя: <%= @account.password %>
 Пароль можно сменить после входа в систему
</p>

<p>
Контактный телефон: <%= @account.phone %>
</p>
<p>
 Адрес электронной почты: <%= @account.email %>
</p>

<p>
  <%= I18n.l(@account.created_at, :format=>:long) %>
</p>

