<%= form_for :user_session, :url=> auth_engine.create_session_path , :html=>{:id=>"login_form", :name => "login_form"} do |form| %>
      <div class="login-form one_line_form">
      <h2>Личный кабинет:</h2>
        <p> <%= label_tag :username, "имя:" %> <%= form.text_field :username %></p>
        <p><%= label_tag :password, "пароль:" %> <%= form.password_field :password %>
     		<a class="lk-login" onclick="login_form.submit();" ></a>
        </p>

    		<div>
          <span style="color:#c36;font-size:10pt"><%= flash[:login_error] %></span>
     		</div>
      </div> 
     		<div class="clear"></div>
         <div class="lk-links">
          <div class="lk-rec"><%= link_to 'восстановить пароль', auth_engine.recovery_password_path  %> </div>
          <div class="lk-reg"><%= link_to 'регистрация', auth_engine.register_user_path  %></div> 
          <div class="clear"></div>
         </div> 
         <%= submit_tag ".", :style=>"visibility:hidden; width:0px;" %>
      <% end %>    
 
