        <div class="search ext-search corner-all"> 
	      	  <div class="search-form">
 	        	  <h1>Поиск сувениров:</h1>
               <%= form_tag search_path, :method=> :get do  -%>
                <div>
                <%= label_tag :article, "Артикул:" %> <%= text_field_tag :article, params[:article] %>
                <%= label_tag :name, "Название:" %> <%= text_field_tag :name, params[:name] %>               
                <button class="s_button" id="go_search" type="submit">.</button>                
                </div>
                <div class="spacer"></div>
                <div id="search_properties">
                  <div class="b-search-property">
                  <%= link_to 'Категория', "#", :class => params[:category_ids].present? ? "has-selected-items" : nil  %>
                    <div class="g-hidden b-property-items" id="filter_category">
                      <%= render :partial => 'category_check', :locals => { :selected => params[:category_ids] } %>
                    </div>
                  </div>
                 <div class="b-search-property">
                  <%= link_to 'Производитель', "#", :class => params[:manufactor_ids].present? ? "has-selected-items" : nil  %>
                    <div class="g-hidden b-property-items" id="filter_manufactor">
                      <%= render :partial => 'manufactor_check', :locals => { :selected => params[:manufactor_ids] } %>
                    </div>
                  </div>                                     
                <% @properties.each do |property| -%>
                  <%= div_for(property, :class => "b-search-property") do -%>
                    <% prop_name = "pv_#{property.id}" -%>                      
                    <%= link_to property.name, "#", :class => params[prop_name].present? ? "has-selected-items" : nil  %>
                    <%= content_tag :div, :class => "b-property-items g-hidden" do %>
                      <%= render :partial => 'admin/properties/property_filter_values', :locals => {:property => property, :selected => params[prop_name], 
                                                                                        :check_box_name => prop_name + "[]", :prefix => "ext"} %>
                    <% end -%>
                  <% end -%>
                <% end -%>
                </div>
                <div class="clear spacer"></div>
                <div class="b-filter-slider">
                  <div>
                    <%= label_tag :price_from, "Цена, от:" %> 
                    <%= text_field_tag :price_from, params[:price_from], :class => "inp-numeric value-from" %> 
                    <%= label_tag :price_to, "до:" %> 
                    <%= text_field_tag :price_to, params[:price_to], :class => "inp-numeric value-to" %> руб.                    
                  </div>
                  <div id="price_slider" class="slider-range"> </div>                   
                </div>
                <div class="v-spacer2"></div>
                <div class="b-filter-slider">
                  <div>
                    <%= label_tag :store_from, "Кол-во на складе, от:" %> 
                    <%= text_field_tag :store_from, params[:store_from], :class => "inp-numeric value-from" %>                 
                     шт.
                  </div>
                  <div id="store_count_slider" class="slider-range"> </div>                   
                </div>
                <div class="clear spacer"></div>
               <% end -%>
          </div> 
        </div> <!-- end search --> 
