<% if @cart.items.present? -%>
<h3>Товары из корзины:</h3>
<%= form_tag @post_url, :class => "well" do -%>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th></th>
    <th>Изображение</th>
    <th>Артикул</th>
    <th>Наименование</th>
    <th>Цена за шт</th>
  </tr>
  <% @cart.items.each do |item| -%>
    <tr>
     <td><%= check_box_tag "cart_product_ids[]", item.product.id, false, :id => "cart_product_ids_#{item.product.id}" %></td>
      <td><%= product_image item.product %></td>
      <td><%= article item.product %></td>
      <td><%= item.product.short_name %></td>
      <td><%= product_price(item.product) %></td>
    </tr>
  <% end -%>
</table>
<%= submit_tag "Добавить отмеченные товары", :class => "btn btn-primary" if @cart.items.present? %>
<% end -%>
<% else -%>
<p style="padding-top:10px">Если Вы хотите добавить еще товар из Базы Данных в Ваше КП, сначала нужно отложить его</p>
<% end -%>
