<div class="center_block page_content">
<h1><%= @firm.smart_name %></h1>
<div class="spacer"></div>
  <div class="b-firm-logo">
   <%= image_tag @firm.logo.url(:thumb), :alt => @firm.smart_name %>
  </div>
 <h2>О компании</h2>
  <p>
   <%= simple_format(@firm.description) %>
  </p>


  <h2>Контакты</h2>
  
  <p>
    <%= render :partial => 'contacts' %>
  </p>
  
  <% if @firm.lat && @firm.long -%>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&amp;region=RU" %>
    
  <h2>Положение на карте</h2>
  <script type="text/javascript">
  $(function(){
    var la = <%= @firm.lat %>;
    var lo = <%= @firm.long %>;
    var title = "<%= @firm.short_name %>";
    map = initializeMap(la,lo,title);
    mapsize_fixed();   
  });

  </script>
  <div id="map">
  
  </div>
  <% end -%>
    
</div>
