<%= form_for [:admin, @firm] do |f| -%>
<div class="grid_10 alpha">
<div class="one_line_form">
  <%= hidden_field_tag :back_url, params[:back_url] %>
   <%= render :partial => 'shared/error_messages', :locals => {:target => @firm} %>
  <div class="b-formfield-div">
    <%= f.label :name, 'Юр. название*' %>
    <%= f.text_field :name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :short_name, 'Псевдоним' %>
    <%= f.text_field :short_name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :permalink, 'Пермалинк' %>
    <%= f.text_field :permalink %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :city, 'Город' %>
    <%= f.text_field :city %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :subway, 'ст. метро' %>
    <%= f.text_field :subway %>
  </div>    
  <div class="b-formfield-div">
    <%= f.label :phone, 'Тел/факс' %>
    <%= f.text_field :phone %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :email, 'Email'%>
    <%= f.email_field :email %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :url, 'URL' %>
    <%= f.url_field :url %>
  </div>        
  <div class="b-formfield-div">
    <%= f.label :lat, 'Широта и долгота' %> <%= link_to  "?", firm_path(@firm), :title => "Посмотреть карточку фирмы" unless @firm.new_record? %> 
    <%= f.text_field :lat, :style => "width:98px;" %>
    <%= f.text_field :long, :style => "width:97px;" %>
  </div>          
  <div class="b-formfield-div">
    <%= f.label :show_on_site, 'Отображать в разделе Где купить' %>
    <%= f.check_box :show_on_site %>
  </div>      
  <div class="b-formfield-div">
    <%= f.label :supplier_id, 'ID поставщика' %>
    <%= f.text_field :supplier_id %>
  </div>
  <div class="b-description">
    <%= f.label :addr_u, 'Юр. адрес' %>
    <%= f.text_area :addr_u, :cols=>22, :rows => 3 %>
  </div>
  <div class="b-description">
    <%= f.label :addr_f, 'Физ. адрес' %>
    <div class="tinymce">
      <%= f.text_area :addr_f, :cols=>22, :rows => 3 %>
    </div>  
  </div>    
  
  <div class="b-description">
    <%= f.label :description, 'Описание' %>
    <div class="tinymce">
      <%= f.text_area :description, :cols=>22, :rows => 3 %>
    </div>  
  </div>      
        
 </div>
</div>
  <div class="grid_6 omega">  
    <div class="services">
      <div class="active-services">
      <h2>Пакеты услуг</h2>
        <ul>
        <% @services.each do |item| -%>
          <li><%= check_box_tag "firm[service_ids][]", item.id, @firm.service_ids.include?(item.id), :id => dom_id(item) %>
            <%= link_to item.name, edit_admin_service_path(item) %>
          </li>    
        <% end -%>
        </ul>    
      </div>  
      <div class="archived-services">
        <h2>Ранее использованные пакеты</h2>
        <ul>
          <% @firm.firm_services.history.each do |item| -%>
            <li><%= link_to item.service.name, edit_admin_service_path(item.service) %>
            <span><%= I18n.l(item.created_at,:format => :digital) %> - <%= I18n.l(item.deleted_at,:format => :digital) %> </span>
            </li>        
          <% end -%>
        </ul>
      </div>   
    </div>        
  </div>
  <div class="clear"></div>
  <div class="b-formfield-div">
    <%= f.submit "Сохранить" %>
  </div>
  
<% end -%>
