<%= form_for [:admin, @firm] do |f| -%>
<div class="one_line_form">
  <%= hidden_field_tag :back_url, params[:back_url] %>
   <%= render :partial => 'shared/error_messages', :locals => {:target => @firm} %>
  <div class="b-formfield-div">
    <%= f.label :name, 'Юр. название*' %>
    <%= f.text_field :name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :short_name, 'Псевдоним' %>
    <%= f.text_field :short_name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :permalink, 'Пермалинк' %>
    <%= f.text_field :permalink %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :city, 'Город' %>
    <%= f.text_field :city %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :subway, 'ст. метро' %>
    <%= f.text_field :subway %>
  </div>    
  <div class="b-formfield-div">
    <%= f.label :addr_u, 'Юр. адрес' %>
    <%= f.text_area :addr_u, :cols=>22, :rows => 3 %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :addr_f, 'Физ. адрес' %>
    <%= f.text_area :addr_f, :cols=>22, :rows => 3 %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :phone, 'Тел/факс' %>
    <%= f.text_field :phone %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :email, 'Email'%>
    <%= f.email_field :email %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :url, 'URL' %>
    <%= f.url_field :url %>
  </div>        
  <div class="b-formfield-div">
    <%= f.label :lat, 'Широта и долгота' %> <%= link_to  "?", firm_path(@firm), :title => "Посмотреть карточку фирмы" unless @firm.new_record? %> 
    <%= f.text_field :lat, :style => "width:98px;" %>
    <%= f.text_field :long, :style => "width:97px;" %>
  </div>          
  <div class="b-formfield-div">
    <%= f.label :show_on_site, 'Отображать в разделе Где купить' %>
    <%= f.check_box :show_on_site %>
  </div>      
  <div class="b-formfield-div">
    <%= f.label :is_supplier, 'Это поставщик' %>
    <%= f.check_box :is_supplier %>
  </div>    
</div>
<div class="clear"></div>  
  <div class="b-description">
    <%= f.label :description, 'Описание' %> <br />
    <%= f.text_area :description %>
  </div>      
  
  <div class="b-formfield-div">
    <%= f.submit "Сохранить" %>
  </div>
  
<% end -%>
