<% form_for [:admin, @firm], :html => {:class=> "one_line_form"} do |f| -%>
   <%= render :partial => 'admin/shared/error_messages', :locals => {:target => @firm} %>
  <div class="b-formfield-div">
    <%= f.label :name, 'Юр. название*' %>
    <%= f.text_field :name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :short_name, 'Псевдоним' %>
    <%= f.text_field :short_name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :city, 'Город' %>
    <%= f.text_field :city %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :subway, 'ст. метро' %>
    <%= f.text_field :subway %>
  </div>    
  <div class="b-formfield-div">
    <%= f.label :addr_u, 'Юр. адрес' %>
    <%= f.text_area :addr_u, :cols=>22, :rows => 3 %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :addr_f, 'Физ. адрес' %>
    <%= f.text_area :addr_f, :cols=>22, :rows => 3 %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :phone, 'Тел/факс' %>
    <%= f.text_field :phone %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :email, 'Email'%>
    <%= f.email_field :email %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :url, 'URL' %>
    <%= f.url_field :url %>
  </div>        
  <div class="b-formfield-div">
    <%= f.label :is_supplier, 'Это поставщик' %>
    <%= f.check_box :is_supplier %>
  </div>    
  <div class="b-formfield-div">
    <%= f.submit "Сохранить" %>
  </div>
  
<% end -%>
