<h1>Возврат образца <%= @sample.lk_firm.name %></h1>

<p>
Внимание! Осталось 2 дня до истечения срока возврата образца "<%= @sample.name %>". 
По истечению срока (<%= @sample.client_return_date %>), образец будет оприходован, а его возврат невозможен.
</p>
<hr />
<p>
<p>Поставщик: <%= @sample.supplier.name %></p>
<p>Дата возврата поставзщику: <%= @sample.supplier_return_date %></p>
</p>
