<script type="text/javascript">
$(function(){
  $("#change_price").click(function(){   
    $(this).hide().parents('td').attr("colspan",5);
    $("#delta_value, table th.g-hidden, table td.g-hidden").show();
    return false;
  });
});
</script>
<%= form_tag calculate_lk_commercial_offer_path(@commercial_offer) do %>
<p>Клиент: <%= select_tag :lk_firm_id, options_for_select([["<-Выберите клиента->", ""]]+ @lk_firms.map{|x| [x.name, x.id]}, @commercial_offer.lk_firm_id) %></p>
<div class="spacer"></div>
<table width="100%">
  <tr>
    <th class="g-hidden"></th>
    <th></th>
    <th>Изображение</th>
    <th>Артикул</th>
    <th>Наименование</th>
    <th>Цена за шт</th>
    <th>Кол-во</th>
    <th>Сумма</th>
    <th></th>
  </tr>
  <% @commercial_offer.commercial_offer_items.each do |item| -%>
    <tr>
      <td class="checkbox g-hidden"><%= check_box_tag "co_items_ids[]", item.lk_product_id %></td>
      <td><%= link_to image_tag('edit.png'), edit_lk_commercial_offer_product_path(@commercial_offer, item)  %></td>
      <td><%= link_to_if item.lk_product.product, image_tag(item.lk_product && item.lk_product.picture ? item.lk_product.picture.url(:thumb) : "default_image.jpg"), product_path(item.lk_product.product), :target => "_blank" %></td>
      <td><%= item.lk_product.article %></td>
      <td><%= item.lk_product.short_name %></td>
      <td class="no-wrap"><%= price_ru_label item.lk_product.price  %></td>
      <td class="no-wrap"><%= text_field_tag "co_items[#{item.lk_product.id}]", item.quantity, :class => "inp-quantity" %></td>
      <td class="no-wrap"><%= price_ru_label item.lk_product.price * item.quantity %></td>
      <td><%= link_to image_tag('bin.png'), lk_commercial_offer_product_path(@commercial_offer, item), :method => :delete, :confirm => "Удалить товар из коммерческого предложения?"  %></td>
    </tr>
  <% end -%>
  <tr>
    <td colspan="4">
      <span style="margin-left:20px">
      <%= link_to 'Изменить стоимость', "#", :title => "Введите числовое значение, на величину которого хотите изменить стоимость выбранных товаров и выполните пересчет коммерческого предложения", :id => "change_price", :class => "pseudo-link"  %>
      </span>
      <span style="margin-left:20px" class="g-hidden" id="delta_value">
        <%= label_tag :delta, "Изменить стоимость на:" %> <%= text_field_tag :delta, nil, :class => "inp-quantity" %> руб.
        <%= submit_tag "ок" %>
      </span>
      <span style="margin-left:20px">
        <%= label_tag :sale,"Скидка, %:" %> <%= text_field_tag :sale, @commercial_offer.sale, :class => "inp-quantity" %>
      </span>
      </td>
      
    
    <td class="no-wrap" colspan="4">Итого: <%= @commercial_offer.commercial_offer_items.sum(:quantity) %> шт. 
    на сумму <%= price_ru_label @commercial_offer.total_price_with_sale  %></td>
  </tr>
  <tr>
    <td colspan="9">
      <%= text_area_tag :signature,  @commercial_offer.signature, :rows => 5, :style => "width:100%" %>
    </td>
  </tr>
  <tr>
    <td colspan="9" class="right">
      <%= submit_tag "Cохранить изменения" %>
    </td>
  </tr>
</table>
<% end %>

