<table> 
	<tr> 
	 <td><img src="logo.png" alt="logo" /></td> 
	 <td> 
	 <p><%= @commercial_offer.firm.short_name %></p> 
	<p><%= @commercial_offer.firm.addr_f %></p> 
	<p>Менеджер: <%= @commercial_offer.user.fio %> </p> 
	<p> Тел./факс: <%= @commercial_offer.firm.phone %></p>
	<p> e-mail: <%= @commercial_offer.firm.email %>, веб-сайт: <%= @commercial_offer.firm.url %></p>
	 </td> 
	</tr> 
</table>
<!-- Вывод товара --> 
<table cellspacing="4" cellpadding="4" border="0"> 
<% @commercial_offer.commercial_offer_items.each do |item| -%>
<tr> 
<td width="90"> 
   <%= image_tag(image_path("#{controller.request.protocol}#{controller.request.host}:#{controller.request.port}"+item.lk_product.picture.url) )%>
  <%#= image_tag("#{controller.request.protocol}#{controller.request.host}:#{controller.request.port}/images/default_image.jpg") %>
</td> 
<td width="200"> 
		<p>Название товара: <%= item.lk_product.short_name %></p> 
		<p>Артикул: <%= item.lk_product.article %></p> 
		<p>Цена: <%= price_ru_label item.lk_product.price %></p> 
		<p>Количество: <%= item.quantity %></p> 
		<p>Сумма общая: <%= price_ru_label item.quantity * item.lk_product.price %></p> 
		<p>Материал: <%= item.lk_product.factur %></p> 
		<p>Цвет: <%= item.lk_product.color %></p> 
		<p>Размер: <%= item.lk_product.size %></p> 
		<p>Упаковка: <%= item.lk_product.box %></p>
		<p>Нанесение: <%= item.lk_product.infliction %></p> 
</td> 
<td width="200"> 
		<p>Описание: <%= item.lk_product.description %></p> 
</td> 
</tr> 
<% end -%>
</table>
