<html>
<head>
<style>
.table_header {
	width:800px;
	border-bottom:1px solid black;
	margin:0px;
	padding:0px;
}
.td_logo {
	width:150px;
}
.t11 {
	font-size:11pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	}
.t9 {
	font-size:9pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	}
.t9i {
	font-size:9pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	font-style:italic;
	page-break-inside: avoid;
	}
.t10b {
	font-size:10pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	font-weight:bold;
	page-break-inside: avoid;
	}	
.td_descr {
	width:400px;
	vertical-align:top;
	page-break-inside: avoid;
}
div.article_img_1 {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E5E5E5;
    display: table;
    height: 120px;
    overflow: hidden;
    width: 120px;
	page-break-inside: avoid;
}
div.article_img_2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.article_img_3 {
}
#table_t {
margin:auto;
page-break-inside: avoid;
width:800px;
padding-bottom:5px;
padding-top:5px;
}

</style>
</head>
<body>
<table class="table_header"> 
	<tr> 
	 <td class="td_logo">
   <%= image_tag current_user.firm.logo.url, :width => current_user.firm.logo_geometry.width.to_i/3, :height => current_user.firm.logo_geometry.height.to_i/3 if firm_logo_present? %>	 
	 </td> 
	 <td class="td_header"> 
	 <p class="t11"><%= @commercial_offer.firm.short_name %></p> 
	<p class="t11"><%= @commercial_offer.firm.addr_f %></p> 
	<p class="t11">Менеджер: <%= @commercial_offer.user.fio %> </p> 
	<p class="t11"> Тел./факс: <%= @commercial_offer.firm.phone %> e-mail: <%= @commercial_offer.firm.email %> <%= @commercial_offer.firm.url %></p>
	 </td> 
	</tr> 
</table>
<!-- Вывод товара --> 

<% @commercial_offer.commercial_offer_items.each do |item| -%>
<table id="table_t"> 
<tr> 
<td width="90"><div class="article_img_1"><div class="article_img_2"> <div class="article_img_3">  
   <%= image_tag(image_path("#{controller.request.protocol}#{controller.request.host}:#{controller.request.port}"+item.lk_product.picture.url) )%>
  <%#= image_tag("#{controller.request.protocol}#{controller.request.host}:#{controller.request.port}/images/default_image.jpg") %>
 </div></div></div>
</td> 
<td class="td_descr"> 
		<p class="t9"><strong>Название товара: </strong><%= item.lk_product.short_name %></p> 
		<p class="t9"><strong>Артикул: </strong><%= item.lk_product.article %></p> 
		<p class="t9"><strong>Материал: </strong><%= item.lk_product.factur %></p> 
		<p class="t9"><strong>Цвет: </strong><%= item.lk_product.color %></p> 
		<p class="t9"><strong>Размер: </strong><%= item.lk_product.size %></p> 
		<p class="t9"><strong>Нанесение: </strong><%= item.lk_product.infliction %></p>
		<p class="t9"><strong>Количество на складе: </strong><%= item.lk_product.store_count  %></p>
		<p class="t9"><strong>Цена: </strong><%= price_ru_label item.lk_product.price %></p> 
		<p class="t10b">Общая сумма: <%= price_ru_label item.quantity * item.lk_product.price %> за <%= item.quantity %> шт.</p> 
</td> 
<td class="td_descr"> 
		<p class="t9i"><%= item.lk_product.description %></p> 
</td> 
</tr> 

</table>
<% end -%>
</body>
</html>
