<% page_title "Коммерческое предложение № #{@commercial_offer.id}" -%>
<div class="b-float-left">
  <h1>Коммерческое предложение № <%= @commercial_offer.id%></h1>
  <div class="spacer"></div>
  <p>Дата создания: <%= I18n.l(@commercial_offer.created_at, :format => :long) %></p>
</div>

<div id="co_output" class="b-float-right b-control-panel">
  <p id="co_output_links">
    Выгрузить в формате:  
    <%= link_to image_tag('pdf.png'), url_for(:action => :export, :id=>@commercial_offer, :format => :pdf, :sa => "1", :sd => "1"), :title => "Выгрузить в формате PDF" %>
    <%= link_to image_tag('xls.png'), url_for(:action => :export, :id=>@commercial_offer, :format => :xls, :sa => "1", :sd => "1"), :title => "Выгрузить в формате Excel" %>      
  </p>
  <p>
    <%= link_to_function 'Настройки', "$('#co_settings').toggle()", :class => "pseudo-link" %>
    <p id="co_settings">
      <%= check_box_tag :sa, 1, true %>
      <%= label_tag :sa, "Выводить артикул" %>
      <%= check_box_tag :sd, 1, true %>
      <%= label_tag :sd, "Выводить описание" %>      
    </p>
  </p>
</div>

<script type="text/javascript">
$('#co_settings input:checkbox').click(function() {
       var _id = this.id;
       var _val = _id + '=' + (this.checked ? "1" : "0");
      $('#co_output_links a').each(function() {
        pattern = new RegExp(_id + '=\\d');
        this.href = this.href.replace(pattern, _val);
        });
  });
</script>
<div class="spacer clear"></div>

<div id="commercial_offer_items">
  <%= render :partial => "commercial_offer_items" %>
</div>
<div class="spacer"></div>

<div class="b-float-left">
<h2>Изменить коммерческое предложение</h2>
<p><%= link_to 'Добавить товар из корзины', lk_cart_products_path(:id => @commercial_offer.id, :object_type => "LkC ommercialOffer"), :remote => true  %></p>
<div id="add_cart_prodcut"></div>
<div class="spacer"></div>
<p><%= link_to 'Добавить товар из моего списка', lk_load_products_path(:id => @commercial_offer.id, :object_type => "LkCommercialOffer"), :remote => true  %></p>
<div id="add_lk_prodcut"></div>
<div class="spacer"></div><div class="spacer"></div>
<p><%= link_to 'Преобразовать в заказ', move_to_order_lk_commercial_offer_path(@commercial_offer), :method => :post, :confirm => "Коммерческое предлоежние будет преобразовано в заказ. Продолжить?"  %></p>
</div>


<div class="spacer clear"></div>
<%= link_to '<< Перейти к списку коммерческих предложений', lk_commercial_offers_path, :class => "navi" %>

