<h1>Коммерческое предложение  <%= @commercial_offer.lk_firm.name if @commercial_offer.lk_firm %></h1>
<div class="spacer"></div>
<p>дата создания <%= I18n.l(@commercial_offer.created_at, :format => :long) %></p>

<div class="spacer"></div>
<div id="commercial_offer_items">
  <%= render :partial => "commercial_offer_items" %>
</div>
<div class="spacer"></div>

<p><%= link_to 'Добавить товар из корзины', commercial_offer_load_cart_products_path(@commercial_offer), :remote => true  %></p>
<div id="add_cart_prodcut"></div>
<p><%= link_to 'Добавить товар из моего списка', commercial_offer_load_lk_products_path(@commercial_offer), :remote => true  %></p>
<div class="spacer"></div>
<div id="add_lk_prodcut"></div>
<div class="spacer"></div>
<%= link_to 'Назад к списку КО', lk_commercial_offers_path %>

