<h1>Коммерческое предложение  <%= @commercial_offer.lk_firm.name if @commercial_offer.lk_firm %></h1>
<div class="spacer"></div>
<p>дата создания <%= Russian.l(@commercial_offer.created_at, :format => :long) %></p>

<div class="spacer"></div>
<div id="commercial_offer_items">
  <%= render :partial => "commercial_offer_items" %>
</div>
<div class="spacer"></div>

<p><%= link_to_function 'Добавить товар из корзины', "$('#add_cart_prodcut').toggle()"  %></p>
<div id="add_cart_prodcut" class="g-hidden">
<%= render :partial => 'add_product_from_cart' %>
</div>
<p><%= link_to_function 'Добавить товар из моего списка', "$('#add_lk_prodcut').toggle()"  %></p>
<div class="spacer"></div>
<div id="add_lk_prodcut" class="g-hidden">
<%= render :partial => 'add_product_from_lk' %>
</div>
<div class="spacer"></div>
<%= link_to 'Назад к списку КО', lk_commercial_offers_path %>

