<h2>
Вы зарегистрировались на сайте <%= ActionMailer::Base.default_url_options[:host]  %>
</h2>
<p>
Ваши данные для входа:
<table style="border:1px solid #ccc; border-collapse:collapse;" cellpadding="5px">
  <tr>
    <td style="border:1px solid #ccc">Имя пользователя:</td>
    <td style="border:1px solid #ccc"><%= @user.username %></td>
  </tr>
  <tr>
    <td style="border:1px solid #ccc">Пароль:</td>
    <td style="border:1px solid #ccc"><%= @password %></td>    
  </tr>
</table>
</p>
<p>
Изменить эту информацию вы можете в настройках  <%= link_to 'учетной записи', profile_url  %>
</p>

<% if @user.is_firm_user? -%>
<p>
  Доступ к Базе Данных и расширенному функционалу предоставляется только рекламным агентствам. <br />
  Доступ бесплатный в течение 5 дней. Через 5 дней вы можете продолжить пользоваться Базой на условиях абонентской платы.
  В ближайшее время с вами свяжется Ваш персональный менеджер для подтверждения статуса рекламного агентства.
</p>
<h3>В помощь новичку:</h3>
<p style="line-height:18px;">
- <%= link_to 'Расширенный поиск', "http://giftpoisk.ru"  %> поможет отфильтровать всю Базу по цвету, материалу, цене, наличию на складе и другим параметрам. Экономьте свое время! <br />
- Быстро сделать коммерческое предложение (КП) по всей Базе можно путем добавления товара в корзину, с последующим выводом КП в формате pdf или xls. <br />
- Увидеть наличие товара на складе и актуальность информации можно в карточке товара (подробнее о товаре). <br />
- Увидеть информацию о поставщике можно также в карточке товара, кликнув на название поставщика. Артикул поставщика выводится в скобках. <br />
- Цены на сайте - базовые цены поставщиков. От них вычитайте Вашу скидку для РА. <br />
- В Личном кабинете Вы можете добавлять свой товар в КП, сохранять Ваши КП для дальнейшего редактирования. <br />
- При подтверждении статуса РА, информация о вашем агентстве будет размещена в разделе <%= link_to 'Где купить', "http://giftb2b.ru/firms"  %> и вы сможете получать заказы с портала <a href="http://giftb2b.ru">giftb2b.ru</a>. Заказы будут отображаться в Личном кабинете, уведомление о новом заказе придет на указанный Вами e-mail.<br />
- Вы можете изменять статус заказа для Ваших клиентов в Личном кабинете. <br />
</p>

<h3>Наши проекты:</h3>
<p style="line-height:18px;">
<a href="http:///giftpoisk.ru">giftpoisk.ru</a> - База Данных сувенирной продукции для рекламных агентств. <br />
<a href="http://giftb2b.ru">giftb2b.ru</a> - Единый Каталог бизнес-сувениров для конечных заказчиков. <br />
<a href="http://sale.giftpoisk.ru">sale.giftpoisk.ru</a> - IT-услуги для рекламных агентств.
</p>

<p>
По всем вопросам вы можете обращаться к он-лайн консультанту на сайте или Вашему менеджеру.
</p>

<% else -%> 

<h3>В помощь новичку:</h3>
<p style="line-height:18px;">
- Чтобы отфильтровать весь Каталог по цвету, наличию и цене воспользуйтесь <%= link_to 'Расширенным поиском', "http://giftb2b.ru/search"  %>. <br />
- Для оформления заказа добавьте товар в корзину и выберите рекламное агентство из списка. <br />
- Получить устную консультацию и обсудить условия заказа Вы можете в ближайшем к Вам агентстве в разделе <%= link_to 'Где купить', "http://giftb2b.ru/firms"  %>.  <br />
- Отслеживать статус заказа можно в <%= link_to 'Личном кабинете', "http://giftb2b.ru/orders"  %>. <br />
</p>

<p>
Напоминаем вам, что существуют ограничения по минимальному количеству и минимальной сумме заказа промо-подарков. За более подробной информацией обращайтесь в рекламные агентства в разделе <%= link_to 'Где купить', "http://giftb2b.ru/firms"  %>.
</p>
<% end -%>



