<%= content_tag(:li, :id => "product_#{product.id}", :class => "li_c") do -%>
		<div class="article_img_1"><div class="article_img_2"><div class="article_img_3">
 		  <%= link_to product_image(product), product_path(product), :class => "article_a", :target => "_blank" %>		   
 </div></div></div> 

		<p class="article_name"><%= product.short_name %></p>
		<p class="article_t">Артикул: <span class="article_s"><%= article product %></span></p>
		<p class="article_t">Материал: <span class="article_s"><%= product.factur %></span></p> 
		<p class="article_t">Цвет: <span class="article_s"><%= product.color %></span></p> 
		<p class="article_t">Размер: <span class="article_s"><%= product.size %></span></p> 
		<% if ext_user? -%>		  
    <p class="article_t">Кол-во на складе: <span class="article_s"><%= store_count product %> шт.</span></p>
		<% end -%>
		<p class="article_t product-price">Цена: <span class="article_name"><%= product_price(product) %></span>
	<%= link_to  image_tag("pix.gif"), add_cart_path(product.id), :remote => true, :method => :post %>	
		</p> 
		<div class="article_t">
		  <%= link_to 'Подробнее о товаре', product_path(product), :class => "article_a", :target => "_blank"  %>		  
		</div> 
<% end -%>
