	<div class="article"> 
		<div class="article_img_1"><div class="article_img_2"><div class="article_img_3">
 		  <%= link_to product_image(product), product_path(product), :class => "article_a", :remote => true  %>		   
 </div></div></div> 

		<p class="article_name"><%= product.short_name %></p> 
		<p class="article_t">Материал: <span class="article_s"><%= product.factur %></span></p> 
		<p class="article_t">Цвет: <span class="article_s"><%= product.color %></span></p> 
		<p class="article_t">Размер: <span class="article_s"><%= product.size %></span></p> 
		<p class="article_t">Цена: <span class="article_name"><%= product_price(product) %></span></p> 
		<div class="article_t">
		  <%= link_to 'Подробнее о товаре', product_path(product), :remote => true, :class => "article_a"  %>		  
		</div> 
	</div> 
