<div class="">
<% if @user_type == "1" -%>
  <h1>Рекламное агентство</h1>
  <% if request.referer =~ /giftb2b.ru\/auth\/register/ %>
    <p class="redirection">Вы перенаправлены на портал <a href="http://giftpoisk.ru">giftpoisk.ru</a> с расширенными возможностями для Рекламных Агентств.</p>   
  <% end -%>
  <p>
    Мгновенная регистрация откроет Вам доступ к Базе Данных сувенирной продукции, расширенному параметрическому поиску, даст возможность создавать коммерческие предложения для Ваших клиентов по всей базе, возможность заказывать промо-сувениры напрямую у поставщиков и многое другое.
  </p>
<% else -%>  
  <h1>Представитель компании</h1>
   <% if request.referer =~ /giftpoisk.ru\/auth\/register/ %>
    <p class="redirection">Вы перенаправлены в Большой Каталог бизнес-сувениров <a href="http://giftb2b.ru">giftb2b.ru</a>, разработанный специально для корпоративных заказчиков.</p>   
  <% end -%>

  <p style="line-height:18px;">
   Мгновенная регистрация даст Вам возможность: <br />
   <p style="margin-left:10px">
    - искать сувениры по цвету, цене и наличию товара на складе <br />
    - оформлять заказы с помощью корзины и отправлять их в ближайшее к Вам рекламное агентство <br />
    - отслеживать состояние заказа в Личном кабинете <br />
    - получать уведомления на электронную почту об изменении статуса заказа <br />
   </p>
  </p>
<% end -%>
</div>

<div class="spacer"></div>

<h2>Регистрация</h2>

<%= form_for @user,  :html => {:class => 'one_line_form'} do |form| %>
  <%= render :partial => 'shared/error_messages', :locals => {:target => @user} %>                
  <%= hidden_field_tag "step", "step_2" %>
  <%= hidden_field_tag "i_am", @user_type %>
    <div class ="b-formfield-div">
      <%= form.label :fio %><span>*</span>
      <%= form.text_field :fio %>
    </div>  
    <div class ="b-formfield-div">
      <%= form.label :company_name %><span>*</span>
      <%= form.text_field :company_name %>
    </div>
    <div class ="b-formfield-div">
      <%= form.label :city %><span>*</span>
      <%= form.text_field :city %>
    </div>        
    <div class="b-formfield-div">
      <%= form.label :email %><span>*</span>
      <%= form.text_field :email %>
    </div>
     <div class ="b-formfield-div">
      <%= form.label :phone %><span>*</span>
      <%= form.text_field :phone %>
    </div>    
     <div class ="b-formfield-div">
      <%= form.label :appoint %>
      <%= form.text_field :appoint %>
    </div>    
     <div class ="b-formfield-div">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>         
    <div class ="b-formfield-div">
      <%= form.submit "Зарегистрироваться" %>
    </div>
  <% end %>

