<h1>Кто Вы?</h1>
<div class="b-who_are_you">
<%= form_tag who_are_you_path do  %>
  <%= hidden_field_tag "step", "step_1" %>  
    <div class="item">
      <%= radio_button_tag "i_am", "1" %>
      <%= label_tag "i_am_1", "Рекламное агентство" %>
      <div class="info g-hidden">
        <h2>После регистрации рекламное агентство получает возможность:</h2>
        <ul>
          <li>искать сувениры по названию, артикулу, цвету, материалу, цене, наличию на складе и др.</li>
          <li>смотреть информацию о поставщике и наличию на складе</li>
          <li>сохранить наборы сувениров в коммерческое предложение с возможностью выгрузки в pdf и excel для последующей презентации клиенту</li>
          <li>создать эскиз изображения любого товара из нашей Базы с логотипом Вашего клиента</li>
          <li>публиковать новости на сайте <a href="http://giftb2b.ru">http://giftb2b.ru</a> о событиях в Вашей компании</li>
          <li>вести историю заказов и учет клиентов</li>
          <li>размещения в разделе <%= link_to "Где купить", main_app.firms_path %></li>  
        </ul>
      </div>
    </div>
    <div class="item">
      <%= radio_button_tag "i_am", "2" %>
      <%= label_tag "i_am_2", "Представитель компании (Юридическое лицо)" %>
      <div class="info g-hidden">
        <h2>После регистрации представитель компании получает возможность:</h2>
        <ul>
          <li>искать сувениры по названию, цвету, цене и наличию товара на складе</li>
          <li>оформлять заказы с помощью корзины и отправлять их в подходящее Вам рекламное агентство</li>
          <li>отслеживать состояние заказа в Личном кабинете</li>
          <li>получать уведомления на электронную почту об изменении статуса заказа</li>
        </ul>
      </div>      
    </div>
    <div class="item">
      <%= radio_button_tag "i_am", "3" %>
      <%= label_tag "i_am_3", "Поставщик сувенирной продукции" %>
      <div class="info g-hidden">
        <h2>После регистрации поставщик получает возможность:</h2>
        <ul>
          <li>бесплатно разместить каталог своей продукции на сайтах <a href="http://giftb2b.ru">http://giftb2b.ru</a> и <a href="http://giftpoisk.ru">http://giftpoisk.ru</a></li>
          <li>публиковать новости на сайте <a href="http://giftpoisk.ru">http://giftpoisk.ru</a> о событиях в Вашей компании </li>
          <li>редактировать персональную страницу с описанием Вашей компании, доступную для просмотра рекламным агентствам</li>
          <li>загружать обновления каталога</li>
        </ul>
      </div>            
    </div>
    <p class="b-who_are_you-next">
      <%= submit_tag "Далее" %>
    </p>
  <% end %>
  
  <div class="additional">
  <em>Более подробную информацию о наших возможностях прочитайте на сайте <a href="http://sale.giftpoisk.ru">http://sale.giftpoisk.ru</a></em>
  </div>
  
</div>
