<% remote = false unless defined?(remote) -%>
<%=  twitter_bootstrap_form_for @firm, :url => @firm.new_record? ? firms_path : firm_path(@firm), :method => @firm.new_record? ? "post" : "put", :html => {:remote => remote, :class => "form-horizontal well"} do |form| -%>
    <%= hidden_field_tag :back_url, params[:back_url] %>     
    <div class ="control-group">
    <%= render :partial => 'shared/error_messages', :locals => {:target => @firm} %>
    </div>
    <div class ="control-group">
      <%= form.text_field :name, "Название (*)" %>
    </div>
    <div class ="control-group">
      <%= form.text_field :contact %>
    </div>    
    <div class ="control-group">
      <%= form.text_field :phone %>
    </div>     
    <div class ="control-group">
      <%= form.text_field :email %>
    </div> 
    <div class ="control-group">
      <%= form.text_field :url %>
    </div>    
    <div class ="control-group">
      <%= form.text_area :addr_u, :rows => 3 %>
    </div>        
    <div class ="control-group">
      <%= form.text_area :addr_f, :rows => 3 %>
    </div> 
    <div class ="control-group">
      <%= form.text_area :description, :rows => 3 %>
    </div>   
    <%= form.actions do %>
     <%= form.submit "Сохранить" %>
     <% if remote -%>       
       <button type="button" id="close_dialog">Отмена</button>
     <% end -%>
    <% end -%>
<% end -%>
