<% modal = false unless defined?(modal) -%>
<%=  twitter_bootstrap_form_for @firm, :url => @firm.new_record? ? firms_path : firm_path(@firm), :method => @firm.new_record? ? "post" : "put", :html => {:remote => modal, :class => "form-horizontal well"} do |form| -%>
    <%= hidden_field_tag :back_url, params[:back_url] %>     
      <%= form.text_field :name, "Название (*)" %>
      <%= form.text_field :contact %>
      <%= form.text_field :phone %>
      <%= form.text_field :email %>
      <%= form.text_field :url %>
      <%= form.text_area :addr_u, :rows => 3 %>
      <%= form.text_area :addr_f, :rows => 3 %>
      <%= form.text_area :description, :rows => 3 %>
    <%= form.actions do %>
     <%= form.submit "Сохранить" %>
     <% if modal -%>       
     <a href="#" class="btn" data-dismiss="modal">Отмена</a>
     <% end -%>
    <% end -%>
<% end -%>
