  <% if full_cart? -%>
	<div class="basket_50">
    	<div class="full_cart">
    	  <%= (link_to "#{cart_name}: \n #{cart_items}", main_app.cart_index_path) %>
	    </div>
	    <div>	    
    	  <%= link_to 'Очистить', main_app.empty_cart_index_path, :remote => true, :method => :post %>
	    </div>
	</div>
	<div class="basket_50">
  	<%= link_to big_cart_icon(full_cart?), main_app.cart_index_path %>
 </div>
  <% else -%>

	<div class="basket_50">
	  <div class="blank_cart">
  	  <a href="#"><%= cart_name %> (пусто)</a>
	  </div>
 </div>  
	<div class="basket_50"><%= big_cart_icon %></div>
  <% end -%>	
	<div class="clear"></div>
