<% page_title "Пользователи" -%>
<h3>Пользователи  компании <%= current_user.firm.name  if current_user.firm%></h3>
<div class="spacer"></div>

<div class="b-command-menu"><%= link_to 'Новый пользователь', new_account_path if current_user.firm %></div>
<div class="spacer"></div>
<table width="100%">
<tr>
  <th></th>
  <th>Имя</th>
  <th>ФИО</th>
  <th>Email</th>
  <th>Последний вход</th>
  <th></th>
</tr>
  <% @users.each do |item| -%>
   <tr>
     <td><%= link_to image_tag('edit.png'), edit_account_path(item) %></td>
     <td><%= item.username %></td>
     <td><%= item.fio %></td>
     <td><%= item.email %></td>
     <td><%= I18n.l(item.current_login_at, :format => :long)  if item.current_login_at %></td>
     <td><%= link_to_unless current_user.id == item.id, image_tag('bin.png'), account_path(item), :method => :delete, :confirm => "Вы действительно хотите удалить пользователя?" %></td>
   </tr> 
  <% end -%>
</table>


