<% content_for :meta_description, @product.meta_description -%>
<% content_for :meta_keywords, @product.meta_keywords -%>
<% page_title(@product.short_name) -%>
<div class="content">
<!--
<span class="article_s">Ссылка на текущую страницу: <%= link_to_this_page(controller_name, action_name, @product.permalink) %> </span>
-->
<%= render :partial =>"foreign/shared/product_rubrika"  %>
<div class="center_block">
	<div class="big_pict">
		<div class="pict_2"><div class="pict_3" id="big_img">
		<%= product_image(@product,false) %>
		</div>
		</div>
	</div>
	<div class="text_block">
		<div class="text_bg">
			<div class="margin_text">
			<p class="article_name_2"><span class="article_t">Название: </span><%= @product.short_name %></p>
		<p class="article_name_2"><span class="article_t">Артикул: </span><%= @product.unique_code %></p>						
		  <div class="article_t">
  			<p>Описание:</p><div class="article_s"><%=raw RedCloth.new(@product.description).to_html %></div>
			</div>			
			<p class="article_t">Материал: <span class="article_s"><%= @product.factur %></span></p>
			<p class="article_t">Цвет: <span class="article_s"><%= @product.color %></span></p>
			<p class="article_t">Размер: <span class="article_s"><%= @product.size %></span></p>
			<%= render :partial => "foreign/product/text_properties" %>
			<br />
			<p class="article_t">Цена: <span class="article_name"><%= product_price(@product) %></span></p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
  <%= render :partial => "foreign/product/product_images" %>
	<div class="pict_block">
	  <%= render :partial => "foreign/product/image_properties" %>
	</div>
	<div class="pict_block">
    <%= render :partial => "foreign/product/analog_products" %>
	</div>
	<div class="popup_block">
		<button id="openD4">Хочу индивидуальный дизайн</button>
		<button id="openD5">Хочу цену ниже</button> 
	</div>
</div> <!-- end center_block -->
</div> <!-- end content -->
