<% if item.lk_product -%> 
    <%= content_tag :tr, :id=> dom_id(item) do %>
      <td class="checkbox-container"><%= check_box_tag "co_items_ids[]", item.id %></td>
      <td class="product-picture"><%= product_image_link item.lk_product %></td>
      <td><%= lk_article item.lk_product %></td>
      <td><%= item.lk_product.short_name %></td>
      <td class="no-wrap single-price"><%= price_ru_label item.lk_product.price  %></td>
      <td class="no-wrap"><%= text_field_tag "co_items[#{item.id}]", item.quantity, :class => "input-mini" %></td>
      <td class="no-wrap sale"><%= item.sale %>%</td>
      <% if @commercial_offer.has_sale? -%>
        <td class="no-wrap sum"><%= price_ru_label(price_with_sale(item.lk_product.price, item.sale)*item.quantity) %></td>
      <% else -%>
        <td class="no-wrap sum"><%= price_ru_label(item.lk_product.price * item.quantity) %></td>      
      <% end -%>
      <% if current_user.has_role? :lk_logo -%> 
      <td class="center"> <%= link_to("", commercial_offer_logo_path(@commercial_offer, item), :remote => true, :class => "icon picture-add-logo", :title => "Нанесение логотипа") if item.lk_product && !item.lk_product.is_my? %> </td>
      <% end -%>
      <td><%= link_to "", edit_commercial_offer_product_path(@commercial_offer, item), :title => "Редактировать", :class => "icon picture-edit"  %> </td>      
      <td> <%= link_to "", commercial_offer_product_path(@commercial_offer, item), :method => :delete, :confirm => "Удалить товар из коммерческого предложения?", :title => "Удалить", :class => "icon picture-remove"  %></td>
 <% end %>
<% end -%>  

