<html>
<head>
<style>

#table_t, .table_header {
	border-bottom:.1em solid #ccc;
  width:800px;	
}

.table_header {
	border-bottom:1px solid #ccc;
}
	
#table_t {
  margin:auto;
  page-break-inside: avoid;
  padding-bottom:5px;
  padding-top:5px;
}	
	
.table_header {
	margin:0px;
	padding:0px;
}
.td_logo {
	width:150px;
}
.t11 {
	font-size:11pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	}
.t9 {
	font-size:9pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	}
.t9i, .t9i p {
	font-size:9pt;
	margin:5px 0;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	font-style:italic;
	page-break-inside: avoid;
	}
.t10b {
	font-size:10pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	font-weight:bold;
	page-break-inside: avoid;
	}	
.t10 {
	font-size:10pt;
	margin:0px;
	margin-left:15px;
	padding:0px;
	line-height:1.2;
	page-break-inside: avoid;
	}		
.td_descr {
	width:400px;
	vertical-align:top;
	page-break-inside: avoid;
}
div.article_img_1 {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E5E5E5;
    display: table;
    height: 120px;
    overflow: hidden;
    width: 120px;
	page-break-inside: avoid;
}
div.article_img_2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.article_img_3 img {
}

div.sale {
 background:red;
 color:#fff;
 font-weight:900;
 font-size:13pt;
 width:40px;
 height:30px;
 text-align:center;
 padding-top:10px;
 border:2px solid red;
 top:-40px;
 left:-10px;
 position:relative;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-khtml-border-radius: 22px;
	behavior: url(/javascripts/PIE.htc); 
	z-index:999;
}

div.sale span {
  font-weight:normal;
  font-size:11pt;
  margin-left:2px;
}
</style>
</head>
<body>
<table class="table_header"> 
	<tr> 
	 <td class="td_logo">
   <%= image_tag current_user.firm.logo.url, :width => current_user.firm.logo_geometry.width.to_i/3, :height => current_user.firm.logo_geometry.height.to_i/3 if firm_logo_present? %>	 
	 </td> 
	 <td class="td_header"> 
	 <p class="t11"><%= @commercial_offer.firm.short_name %></p> 
	<p class="t11"><%= @commercial_offer.firm.addr_f %></p> 
	<p class="t11">Менеджер: <%= @commercial_offer.user.fio %> </p> 
	<p class="t11"> Тел./факс: <%= @commercial_offer.user.phone %> e-mail: <%= @commercial_offer.user.email %> <%= @commercial_offer.firm.url %></p>
	<p class="t11"> Специально для компании: <%= @commercial_offer.lk_firm.name if @commercial_offer.lk_firm %> </p>
	 </td> 
	</tr> 
</table>
<!-- Вывод товара --> 

<% @commercial_offer.commercial_offer_items.each do |item| -%>
<table id="table_t"> 
<tr> 
<td width="90">
<div class="article_img_1"><div class="article_img_2"> <div class="article_img_3">  
  <% picture_geometry = Paperclip::Geometry.from_file(item.lk_product.picture.path) -%>
   <%= image_tag(image_path("#{controller.request.protocol}#{controller.request.host}:#{controller.request.port}"+item.lk_product.picture.url), :width => picture_geometry.width/3, :height => picture_geometry.height/3 )%>
 </div></div></div>
<% if item.sale > 0 -%>
<div class="sale">-<%= item.sale %><span>%</span></div>  
<% end -%> 
</td> 
<td class="td_descr"> 
		<p class="t9"><strong>Название товара: </strong><%= item.lk_product.short_name %></p> 
		<% unless @hide_article -%>	  
		<p class="t9"><strong>Артикул: </strong><%= item.lk_product.article %></p> 
		<% end -%>
		<% if item.lk_product.factur.present? -%>
		<p class="t9"><strong>Материал: </strong><%= item.lk_product.factur %></p> 		  
		<% end -%>
		<% if item.lk_product.color.present? -%>
		<p class="t9"><strong>Цвет: </strong><%= item.lk_product.color %></p> 
		<% end -%>
		<% if item.lk_product.size.present? -%>
		<p class="t9"><strong>Размер: </strong><%= item.lk_product.size %></p> 
		 <% end -%>
		 <% if item.lk_product.infliction.present? -%>
		<p class="t9"><strong>Нанесение: </strong><%= item.lk_product.infliction %></p>
		 <% end -%>
		<p class="t9"><strong>Количество на складе: </strong> <%= item.lk_product.store_count  %></p>
		<p class="t9" style="padding-top:10px"><strong>Цена: </strong><%= price_ru_label item.lk_product.price %></p> 
		<% if item.sale > 0 -%>
		<p class="t10"><strong>Сумма со скидкой <%= item.sale %>% :</strong> <%= price_ru_label item.quantity * price_with_sale(item.lk_product.price, item.sale) %> за <%= item.quantity %> шт.</p>
		<% else -%> 
			<p class="t10"><strong>Сумма: </strong><%= price_ru_label item.quantity * item.lk_product.price %> за <%= item.quantity %> шт.</p> 
		<% end -%>
</td> 
<td class="td_descr t9i"> 
		<%= simple_format(item.lk_product.description) unless @hide_description %>
</td> 
</tr> 
</table>
<% end -%>
<div class="t9">
<%= simple_format(@commercial_offer.signature) %>
</div>
</body>
</html>
