<h2>Редактирование заказа</h2>
<div class="spacer"></div>
<div id="order">
  <%= form_for @order do |f| -%>
   <div>
   <%= f.label :lk_firm_id %>
   <%= f.select :lk_firm_id, options_from_collection_for_select(@lk_firms, 'id', 'name', @order.lk_firm_id) %>

   <%= f.label :status_id %>
   <%= f.select :status_id, options_for_select(LkOrder.statuses, @order.status_id) %>
   <%= f.submit "Сохранить" %>
   </div>
  <% end -%>
</div>

<div class="spacer"></div>
<%= render :partial => 'order_items' %>
<div class="spacer"></div>

<h2>История изменения заказа:</h2>
<table>
<tr>
  <th>Дата</th>
  <th>Автор</th>
  <th>Статус</th>
</tr>
<% @order.lk_order_logs.order("id desc").each do |log| -%>
  <tr>
    <td><%= I18n.l(log.created_at, :format => :long) %></td>
    <td><%= log.user.username if log.user  %></td>
    <td><%= log.status %></td>
  </tr>
<% end -%>
</table>
<div>
  <%= link_to 'Вернуться к списку заказов', lk_orders_path %>
</div>
