<h2>Список всех заказов</h2>

<table width="100%">
<tr>
  <th></th>
  <th>№ заказа</th>
  <th>Кому</th>
  <th>Статус</th>
  <th>Сумма</th>
  <th></th>
</tr>
<% @orders.each do |item| -%>
  <tr>
    <td><%= link_to image_tag('edit.png'), edit_lk_order_path(item) %></td>
    <td><%= item.id  %></td>
    <td><%= item.lk_firm.name %></td>
    <td><%= item.status %></td>
    <td><%= price_ru_label item.sum %></td>
    <td><%= link_to image_tag('bin.png'), lk_orders_path(item), :method => :delete, :confirm => "Удалить заказ?" %></td>
  </tr>
<% end -%>
</table>
