<%= form_for @property_value, :url=> @property_value.new_record? ? admin_property_values_path : admin_property_value_path(params[:property_id],@property_value),  :html => {:class => 'one_line_form'}  do |f|%>
  <%= render :partial => 'shared/error_messages', :locals => {:target => @property_value} %>  
  <%= f.hidden_field :property_id%>
<div class="b-formfield-div">
  <%= f.label :value, 'Значение' %>
  <%= f.text_field :value %>
</div>
<div class="b-formfield-div">
  <%= f.label :note, 'Примечание' %>
  <%= f.text_field :note %>
</div>
<div class="b-formfield-div">
  <%= f.label :sort_order, 'Порядок сортировки' %>
  <%= f.text_field :sort_order %>
</div>
<div class="b-formfield-div">
  <%= f.label :group_order, 'Порядок группировки' %>
  <%= f.text_field :group_order %>
</div>
<div class="b-formfield-div">
  <%= f.submit "Сохранить" %>
</div>
<%  end %>
<div class="clr"></div>
