<% page_title "Заказ № #{@order.id}" -%>
<h1>Заказ № <%= @order.id %></h1>
  <%= twitter_bootstrap_form_for @order, :url => order_path(@order), :method => :put, :html => { :class => "form-horizontal well"} do |f| -%>
  <fieldset>
    <legend>Информация о заказчике</legend>
     <%= f.select :lk_firm_id, "Клиент", options_for_select([["<-Выберите клиента->", ""]]+ @lk_firms.map{|x| [x.name, x.id]}, @order.lk_firm_id) %>
     <%= f.select :status_id, "Статус", options_for_select(LkOrder.statuses, @order.status_id) %>
     <%= f.text_field :user_name %>
     <%= f.email_field :user_email %>
     <%= f.text_field :user_phone %> 
     <%= f.text_area :user_comment,  :rows => 3 %>
   <%= f.actions do -%>
   <%= f.submit "Сохранить" %>
   <% end -%>
  </fieldset>   
  <% end -%>


<div class="spacer"></div>
<h3>Перечень товаров, входящих в заказ:</h3>
<%= render :partial => 'order_items' %>
<div class="spacer"></div>
<% if  current_user.is_e_commerce? -%>
<p><%= link_to 'Добавить товар из отложенных', cart_products_path(:id => @order.id, :object_type => "LkOrder"), :remote => true  %></p>
<div id="add_cart_prodcut"></div>  
<% end -%>
<p><%= link_to 'Добавить товар из моего списка', load_products_path(:id => @order.id, :object_type => "LkOrder"), :remote => true  %></p>
<div class="spacer"></div>
<div id="add_lk_prodcut"></div>
<div class="spacer"></div>

<h3>История изменения заказа:</h3>

<div class="row">
<div class="span4">
<table class="table table-striped table-bordered table-condensed" >
<tr>
  <th>Дата</th>
  <th>Статус</th>
</tr>
<% @order.lk_order_logs.order("id desc").each do |log| -%>
  <tr>
    <td><%= I18n.l(log.created_at, :format => :long) %></td>
    <td><%= log.status %></td>
  </tr>
<% end -%>
</table>
</div>
</div>
<p class="navi">
  <%= link_to '<< Перейти к списку заказов', orders_path %>
</p>
