<% page_title "Заказы" -%>

<h1>Список всех заказов</h1>

<table class="table table-striped table-bordered table-condensed">
<tr>
  <th></th>
  <th>№ заказа</th>
  <th>Клиент</th>
  <th>Заказчик</th>
  <th>Статус</th>
  <th>Сумма</th>
  <th>Посл. изменение</th>
  <th>Автор</th>
  <th class="th_lk"></th>
</tr>
<% @orders.each do |item| -%>
  <tr>
    <td><%= link_to image_tag('edit.png'), edit_order_path(item) %></td>
    <td><%= item.id  %></td>
    <td><%= item.lk_firm.name  if item.lk_firm %></td>
    <td><%= item.user_name %></td>
    <td><%= item.status %></td>
    <td class="no-wrap"><%= price_ru_label item.sum %></td>
    <td><%= I18n.l(item.updated_at, :format => :long) %></td>
    <td><%= order_source(item) %></td>
    <td><%= link_to image_tag('remove.png'), order_path(item), :method => :delete, :confirm => "Удалить заказ?", :title => "Удалить заказ" %></td>
  </tr>
<% end -%>
</table>

<%= will_paginate @orders %>
