<%= form_for [:admin,@role] do |f| %>
  <div class="one_line_form">
  <div class="b-formfield-div">
    <%= f.label :name, "Название" %>
    <%= f.text_field :name %>
  </div>
  <div class="b-formfield-div">
    <%= f.label :description, "Человеческое название" %>
    <%= f.text_field :description %>
  </div>  
  <div class="b-formfield-div">
    <%= f.label :group, "Группа" %>
    <%= f.select :group, options_for_select(Role.group_names.map{|x| [x, Role.group_names.index(x)]}, @role.group) %>
  </div>    
  <div class="b-formfield-div">
    <%= f.label :authorizable_id, "ID объекта" %>
    <%= f.text_field :authorizable_id %>
  </div>    
  <div class="b-formfield-div">
    <%= f.label :authorizable_type, "Тип объекта" %>
    <%= f.text_field :authorizable_type %>
  </div>      
  <div class="b-formfield-div">
    <%= f.submit "Сохранить"  %>
  </div>
  </div>  
<% end -%>
