<table id="products_list" class="products">
  <tr>
    <%= content_tag(:th, raw("<a id='select_all_chb' href='#' class='pseudo-link'>Все</a>"), :class => "group-ops g-hidden") %>
    <th></th>
      <%= build_table_headers %>
     <th></th>
  </tr>
  <% @products.each do |item| -%>
    <tr>
      <%= content_tag(:td, check_box_tag("product_ids[]", item.id), :class =>"group-ops g-hidden" ) %>
      <td><%= link_to image_tag('edit.png') ,edit_admin_product_path(item) %></td>    
      <%= build_cell(:image, product_image(item, true)) %>
      <%= build_cell(:code, item.unique_code ) %>
      <%= build_cell(:category, item.categories.collect(&:name).join(', ') ) %>
      <%= build_cell(:manufactor, item.manufactor.name) %>
      <%= build_cell(:supplier, item.supplier.name) %>
      <%= build_cell(:article, item.article) %>
      <%= build_cell(:short_name, item.short_name) %>
      <%= build_cell(:price, product_price(item)) %>
      <%= build_cell(:active, link_to(checked_box_image(item.active,  "img_#{item.id}") ,   activate_admin_product_path(item.id), :remote => true, :method=>:put), {:class =>"center"} ) %>
      <%= build_cell(:store_count, item.store_count) %> 
      <%= build_cell(:color, item.color) %> 
      <%= build_cell(:factur, item.factur) %> 
      <%= build_cell(:box, item.box) %> 
      <%= build_cell(:size, item.size) %> 
      <%= build_cell(:new, checked_box_image(item.is_new), {:class =>"center"}) %> 
      <%= build_cell(:sale, checked_box_image(item.is_sale), {:class =>"center"}) %> 
      <%= build_cell(:best_price, checked_box_image(item.best_price), {:class =>"center"}) %> 
      <%= build_cell(:sort_order, item.sort_order) %>
      <%= build_properties_cell(item) %>    
      <td><%= link_to image_tag('bin.png'), admin_product_path(item, :back_url=>request.url), :method=>:delete, :confirm => 'Вы уверены?' %></td>
    </tr>
  <% end -%>
</table>

