<%= javascript_include_tag 'admin/products' %>
<%= form_for [:admin,product],  :html => {:class => 'one_line_form'} do |form| %>
<div class="grid_7 alpha">
<h2>Основная информация</h2>
    <%= render :partial => 'admin/shared/error_messages', :locals => {:target => product} %>
    <div class="b-formfield-div">
     <%= form.label :manufactor, "Производитель товара" %>
    <%= form.collection_select(:manufactor_id, Manufactor.all, :id, :name, :prompt => '<Выберите значение>') %>
    </div>
    <div class="b-formfield-div">
     <%= form.label :supplier, "Поставщик товара" %>
    <%= form.collection_select(:supplier_id, Supplier.all, :id, :name, :prompt => '<Выберите значение>') %>
    </div>    
    <div class="b-formfield-div">
      <%= form.label :article, "Артикул" %>
      <%= form.text_field :article %>
    </div>
     <div class ="b-formfield-div">
      <%= form.label :short_name, "Краткое наименование" %>
      <%= form.text_field :short_name %>
    </div>
     <div class ="b-formfield-div">
      <%= form.label :full_name, "Полное наименование" %>
      <%= form.text_field :full_name %>
    </div>    
    <div class ="b-formfield-div">
      <%= form.label :color, "Цвет" %>
      <%= form.text_field :color %>
    </div>          
    
    <div class ="b-formfield-div">
      <%= form.label :factur, "Материал" %>
      <%= form.text_field :factur %>
    </div>    
    <div class ="b-formfield-div">
      <%= form.label :box, "Упаковка" %>
      <%= form.text_field :box %>
    </div>        
    <div class ="b-formfield-div">
      <%= form.label :size, "Размер" %>
      <%= form.text_field :size %>
    </div>            
     <div class ="b-formfield-div">
      <%= form.label :price, "Цена" %>
      <%= form.text_field :price %>
    </div>
     <div class ="b-formfield-div">
      <%= form.label :currency_type, "Валюта" %>
      <%= select_tag "product[currency_type]", options_for_select(["RUB","USD","EUR"],product.currency_type) %>
    </div>               
     <div class ="b-formfield-div">
      <%= form.label :sort_order, "Порядок сортировки" %>
      <%= form.text_field :sort_order %>
    </div>    
     <div class ="b-formfield-div">
      <%= form.label :acive, "Разрешить публикацию?" %>
      <%= form.check_box :active%>
    </div>            
    <div class="b-formfield-div">
      <%#= form.label :store_count, "Наличие на складе" %>
      <%#= form.text_field :store_count %>
    </div>    
    <div class="b-formfield-div">
      <%#= form.label :remote_store_count, "Наличие на удал. складе" %>
      <%#= form.text_field :remote_store_count %>
    </div>        
     <div class ="b-formfield-div">
      <%#= form.label :from_store, "Поставка со склада" %>
      <%#= form.check_box :from_store%>
    </div>  
     <div class ="b-formfield-div">
      <%#= form.label :from_remote_store, "Поставка с удал. склада" %>
      <%#= form.check_box :from_remote_store%>
    </div>    
     <div class ="b-formfield-div">
      <%= form.label :is_new, "Новинка" %>
      <%= form.check_box :is_new %>
    </div>      
     <div class ="b-formfield-div">
      <%= form.label :is_sale, "Распродажа" %>
      <%= form.check_box :is_sale %>
    </div>       
     <div class ="b-formfield-div">
      <%= form.label :best_price, "Отличная цена" %>
      <%= form.check_box :best_price %>
    </div> 
     <div class ="b-formfield-div">
      <%= form.label :meta_description, "META Description" %>
      <%= form.text_area :meta_description, :rows => 5, :cols => 30 %>
    </div>      
     <div class ="b-formfield-div">
      <%= form.label :meta_keywords, "META Keywords" %>
      <%= form.text_area :meta_keywords, :rows => 5, :cols => 30 %>
    </div>            
    <div class="b-formfield-div">
      <%= form.submit 'Сохранить' %>
    </div>
 </div>    

<div class="grid_5">
  <h3><%= link_to_function "Категории", "$('#categories_tree').toggle();", :class=>"pseudo-link" %> </h3>
  <div id="categories_tree" class="g-hidden">
    <%= hashed_categories_tree(@catalog, @product.category_ids, true, true, {:field_name => "product[category_ids]"}) %>
  </div>
<div class="spacer"></div>
  <h3><%= link_to_function "Тематические", "$('#thematic_tree').toggle();", :class=>"pseudo-link" %> </h3>
  <div id="thematic_tree" class="g-hidden">
     <%= hashed_categories_tree(@thematic, @product.category_ids, true, true, {:field_name => "product[category_ids]" }) %>
  </div>
<div class="spacer"></div>
  <h3><%= link_to_function "Аналоги", "$('#analog_tree').toggle();", :class=>"pseudo-link" %> </h3>
  <div id="analog_tree" class="g-hidden">
    <%= hashed_categories_tree(@analogs, @product.category_ids, true, true, {:field_name => "product[category_ids]"}) %>    
  </div>
</div>
<div class="grid_4 omega">
<h3>Склад</h3>
  <% @product.store_units.each do |store_unit| -%>
   <%= form.fields_for :store_units, store_unit do |su_field| %>
  <p>
   <%= su_field.select "store_id", options_for_select(@product.supplier.stores.map{|p| [p.name, p.id]}) %>
   <%= su_field.text_field "count" %>
  </p>
  <% end -%>
  <% end -%>
<h3>Свойства</h3>
<div class="ext-search b-product-properties">
 <% @properties.each do |item| -%>
        <%= div_for(item, :class => "product-property ajax-load") do %>       
          <%= link_to  item.name, load_filter_values_admin_property_path(item, :selected => @product.property_value_ids, :check_box_name => "product[property_value_ids][]"), :remote => true, :class => "pseudo-link #{has_selected_items_class(item, @product.property_value_ids)}" %>
          <div class="filter-property-values g-hidden">
            <%= render :partial => 'admin/properties/property_filter_values', 
            :locals => {:property => item, :selected => @product.property_value_ids, :check_box_name => "product[property_value_ids][]"} if has_selected_items?(item, @product.property_value_ids) %>
          </div>
        <% end -%>
      <% end -%>
      <div class="clear"></div>
</div>      
</div>

<div class="clear"></div>
    <div class="grid_8">
    <h3>Описание товара</h3>
      <%= form.textile_editor :description, :cols=>55, :rows=>10%>
    </div>    

  <% end %>
  <%= raw textile_editor_initialize(:framework => :jquery) %>

