<%= javascript_include_tag 'admin/products' %>
<%= render 'admin/shared/sub_menu_product' %>

<%title 'Список товаров',false  %>

<div class="grid_8 alpha">
  <h1>Список товаров <span>[<%= link_to 'Создать новый', new_admin_product_path %>]</span></h1>
</div>
<div class="clear"></div>
<fieldset>
<legend>Фильтр</legend>
<%= form_tag admin_products_path, :method=>:get, :class=>'filter' do -%>
<%= raw tree_select(Category.cached_all_categories,  'category',nil,{:value=>"-1", :name => "<-Без категории->"} ,params[:category].to_i ) %>
 <%= select(nil ,'manufactor', options_for_select( Manufactor.all.collect{|i| [i.name, i.id] },params[:manufactor].to_i),{:prompt=>'<-Производитель->'}, {:name=>'manufactor'}) %>
  <%= select(nil ,'supplier', options_for_select( Supplier.all.collect{|i| [i.name, i.id] },params[:supplier].to_i),{:prompt=>'<-Поставщик->'}, {:name=>'supplier'}) unless current_user.has_role?("Редактор каталога") %>
<%= select(nil ,'store', options_for_select( [['Отсуствует', '0'],['В наличии','1']],params[:store]),{:prompt=>'<-Наличие на складе->'}, {:name=>'store'}) %>
 арт: <%= text_field_tag :name, params[:name] %>
 код: <%= text_field_tag :code, params[:code] %>
 <%= submit_tag "Ok", :name=>nil %><br />
 <%= select(nil ,'active', options_for_select( [['Нет', '0'],['Да','1']],params[:active]),{:prompt=>'<-Опубликован->'}, {:name=>'active'}) %> 
 <%= select(nil ,'new', options_for_select( [['Нет', '0'],['Да','1']],params[:new]),{:prompt=>'<-Новинка->'}, {:name=>'new'}) %> 
 <%= select(nil ,'sale', options_for_select( [['Нет', '0'],['Да','1']],params[:sale]),{:prompt=>'<-Распродажа->'}, {:name=>'sale'}) %> 
 <%= select(nil ,'best_price', options_for_select( [['Нет', '0'],['Да','1']],params[:best_price]),{:prompt=>'<-Лучшая цена->'}, {:name=>'best_price'}) %> 
 <%= select(nil ,'price', options_for_select( [['Равна 0', '0'],['Больше 0','1']],params[:price]),{:prompt=>'<-Цена товара->'}, {:name=>'price'}) %> 
<%= select(nil ,'per_page', options_for_select( [['20', '20'],['50','50'],['100','100'],['500','500']],params[:per_page]),{:prompt=>'<-Кол-во->'}, {:name=>'per_page'}) %> 
<p>
  <%= link_to_function 'Расширенный поиск', "$('.ext-search').toggle()", :class=>"pseudo-link" %>
  <%= content_tag :div, :class => "ext-search #{params.keys.select{|x| x =~ /property_values_/}.present? ? nil : "g-hidden" }" do %>
      <% @properties.each do |item| -%>
      <% pv_param = "property_values_#{item.id}" -%>
        <%= div_for(item, :class => "filter-property ajax-load") do %>       
          <%= link_to  item.name, load_filter_values_admin_property_path(item, :selected => params[pv_param]), :remote => true, :class => "pseudo-link #{has_selected_items_class(item, params[pv_param])}" %>
          <div class="filter-property-values g-hidden">
            <%= render :partial => 'admin/properties/property_filter_values', :locals => {:property => item, :selected => params[pv_param]} if has_selected_items?(item, params[pv_param]) %>
          </div>
        <% end -%>
      <% end -%>
      <div class="clear"></div>
  <% end -%>
  
</p>
<% end -%>
<div class="spacer"></div>
<div>
<%= link_to_function 'Групповые операции', "$('.group-ops').toggle()", :class=>"pseudo-link" %>


  <div class="group-ops g-hidden">
    <p>Что сделать с отмеченными товарами?</p>
    <%= form_tag group_ops_admin_products_path do -%>
    <%= hidden_field_tag :back_url, request.url %>
    <%= hidden_field_tag "product_ids", "" %>
    <%= select_tag :oper, options_for_select([["<-Выберите операцию->"],["Удалить", 'delete'],["Копировать", "copy"],["Изменить свойство",'change']]) %>
    <%= submit_tag "Выполнить", :id => "commit", :class=>"g-hidden" %>
    <% end -%>
  </div>

</div>
</fieldset>

<div class="spacer"></div>
<div>
  <%=render :partial => 'products' %>  
</div>

<%= will_paginate @products %>
<%= link_to 'Выгрузить в формате XML', :action => "index", :format => :xml, :category=>params[:category], :manufactor => params[:manufactor], :supplier => params[:supplier] %>
