<% hidden_class = (defined?(hidden) && hidden) ? "g-hidden"  : ""  -%>
<% up_or_down_class = (defined?(hidden) && hidden) ? "down"  : "up"  -%>
<% up_or_down_title = (defined?(hidden) && hidden) ? "Развернуть"  : "Свернуть"  -%>
 <%= form_tag main_app.search_path(:anchor => "results"), :method=> :get, :id => "ext_search_form", :class => "form-horizontal" do  -%>
<div class="b-ext-search" id="ext_search">
  <div class="header">
  <h1>Расширенный поиск сувениров</h1>  
  </div>
  <div class="collapse collapse-all">   
   <%= link_to up_or_down_title, "", :class=> "up-down-text" %> 
   <%= link_to content_tag(:span, nil, :class => up_or_down_class), "", :class=> "up-down", :title => up_or_down_title %> 
  </div>
  <div class="clear"></div>
  <div class="collapsible-content <%= hidden_class %>">
  <div class="control-group">
    <label for="name">Название</label>
    <div class="controls">
               <%= text_field_tag :name, params[:name] %>                   
               <p class="help-block"> 
               <label for="eq" class="checkbox">
                <%= check_box_tag :eq, "1", params[:eq] %>            
                 Искать точную фразу             
               </label> 
               </p>
   <button class="ext-search-button" type="submit">Найти</button>
    </div>  
  </div>

  
  <% if show_ext_search? || current_user && current_user.is?(:lk_order) -%>   
    <div class="control-group">
      <label for="article">Артикул</label>
      <div class="controls">
           <%= text_field_tag :article, params[:article] %>                     
      </div>
    </div>      
  <% end -%>
  <% if show_ext_search? -%>
  
    <div class="control-group">
      <label for="" class="control-label">Поставщик</label>
      <div class="controls">
        <% @suppliers.each do |item| -%>
          <%= label_tag dom_id(item), :class => :checkbox do %>          
          <%= check_box_tag "supplier_ids[]", item.id, params[:supplier_ids] && params[:supplier_ids].include?(item.id.to_s), :id => dom_id(item) %> 
          <%=  item.name %>
          <% end -%>
        <% end -%>      
      
      </div>
    </div>      

    <div class="control-group">
      <label for="manufactor_id" class="control-label">Бренд</label>
      <div class="controls">    
        <%= select_tag :manufactor_id, options_for_select(@manufactors.map{|x| [x.name, x.id]}, params[:manufactor_id]),  {:include_blank => "<- Выберите бренд ->" } %>
      </div>
    </div>
    
    <div class="control-group">
      <label for="store_from" class="control-label">Наличие</label>
      <div class="controls">    
        <div class="input-append">
          <%= text_field_tag :store_from, params[:store_from], :class => "inp-numeric value-from" %> <span class="add-on">шт.</span>
        </div>        
        <p class="help-block">
        <%= label_tag :on_demand, :class => "checkbox inline" do %>
        <%= check_box_tag :on_demand, "1", params[:on_demand] %>
        по запросу        
        <% end -%>        
        <%= label_tag :in_order, :class => "checkbox inline" do %>
        <%= check_box_tag :in_order, "1", params[:in_order] %>
        под заказ
        <% end -%>                
        </p>        
      </div>
    </div>    
  <% end -%>
  
    <% if show_ext_search? -%>
    
    <div class="control-group">
      <label for="material-items" class="control-label">Материал</label>
      <div class="controls">    
        <%= prop_values_tree(@material, params[prop_name(@material)].present? ? params[prop_name(@material)] : [] , {:class => "material-items", :grouped => true}) %>
      </div>
    </div>
    
    <div class="b-ext-search-inner">
     <div class="header">
        <h3>Материал</h3>
      </div>
      <div class="collapse">
        <a href="" class="up-down" title="Развернуть"><span class="down"></span></a>
      </div>
      <div class="collapsible-content g-hidden">
        <%= prop_values_tree(@material, params[prop_name(@material)].present? ? params[prop_name(@material)] : [] , {:class => "material-items", :grouped => true}) %>
      </div>
      <div class="clear"></div>
    </div>
  <% end -%> 

    <div class="b-ext-search-inner even">
      <div class="b-ext-search-center">     
         <div class="b-search-center-inner-no-right">
          <% @color.property_values.each do |color| %>
          <% color_class = (params[prop_name(@color)].present? && params[prop_name(@color)].include?(color.id.to_s)) ? "color-box shadow" : "color-box" -%>
          <%= content_tag(:div, "", :class => color_class, :style => color.note && color.note =~ /^#?(([a-fA-F0-9]){3}){1,2}$/ ? "background:#{color.note}" : nil, :title => color.value, :id => "color_#{color.id}") %>
          <% end -%>
          </div>
        </div>
        <div class="b-ext-search-left bold-label v-align">
         <%= label_tag :pv_color, "Цвет" %> 
       </div>
        <div class="clear"></div>
        <%= content_tag :div, "", :class => "g-hidden", :id => "color_ids", :title => @color.id do 
            if params[prop_name(@color)].present?
              params[prop_name(@color)].each do |color_id| %>
                <%= hidden_field_tag prop_name(@color, true), color_id -%>
              <% end
            end -%>     
        <% end -%>
    </div>
    <div class="b-ext-search-inner">
    
       <div class="b-ext-search-center">     
         <div class="b-search-center-inner">
           <span class="bold-label"><%= label_tag :price_from, "от" %></span>
            <%= text_field_tag :price_from, params[:price_from], :class => "inp-numeric value-from" %> руб.
            <span class="bold-label" style="padding-left:10px;"><%= label_tag :price_to, "до" %></span>
            <%= text_field_tag :price_to, params[:price_to], :class => "inp-numeric value-to" %> руб.          
         </div>
       </div>
       
       <div class="b-ext-search-left bold-label v-align">
         <%= label_tag :price_from, "Цена" %> 
       </div>
            
       <div class="clear"></div>
    </div>

  <% if show_ext_search? -%>
    
  <!--  <div class="b-ext-search-inner even">

       <div class="b-ext-search-center">     
         <div class="b-search-center-inner"> 
            <%#= select_tag prop_name(@infliction, true), options_for_select(@infliction.property_values.map{|x| [x.value, x.id]}, params[prop_name(@infliction)]),  {:include_blank => "<- Выберите тип нанесения ->" } %>
         </div>
       </div>
       
       <div class="b-ext-search-left bold-label v-align">
         <%= label_tag :inflicftion, "Нанесение" %> 
       </div>
       <div class="clear"></div>

    </div> -->
    <div class="b-ext-search-inner even">
       <div class="header">
        <h3>Категория каталога</h3>
      </div>
      <div class="collapse">
        <a href="" class="up-down" title="Развернуть"><span class="down"></span></a>
      </div>
      <div class="collapsible-content g-hidden">
     <%= categories_columns(@categories, params[:category_ids].present? ?  params[:category_ids].map(&:to_i) : [], 3,   {:field_name => "category_ids", :class => "column-items", :select_children => true, :sort_parents => true} ) %>
      </div>
      <div class="clear"></div>
    </div>
      <div class="b-ext-search-inner">
         <div class="header">
        <h3>Категория тематических сувениров</h3>
      </div>
      <div class="collapse">
        <a href="" class="up-down" title="Развернуть"><span class="down"></span></a>
      </div>
      <div class="collapsible-content g-hidden">
       <%= categories_columns(@thematic, params[:category_ids].present? ?  params[:category_ids].map(&:to_i) : [], 3,   {:field_name => "category_ids", :class => "column-items", :select_children => true, :sort_parents => true} ) %>
     </div>
     <div class="clear"></div>
    </div>  
    <div class="b-ext-search-inner even">
       <div class="header">
        <h3>Категория праздника</h3>
      </div>
      <div class="collapse">
        <a href="" class="up-down" title="Развернуть"><span class="down"></span></a>
      </div>
      <div class="collapsible-content g-hidden">
       <%= categories_columns(@analogs, params[:category_ids].present? ?  params[:category_ids].map(&:to_i) : [], 3,   {:field_name => "category_ids", :class => "column-items", :select_children => true, :sort_parents => true} ) %>
      </div>
     <div class="clear"></div>
    </div>    
<% end -%>
  </div>
</div> <!--end #ext_search -->
<%= content_tag(:div, nil, :class => "line #{hidden_class.blank? ?  'g-hidden' : ''}") %>
<% end -%>  
