<h3>Список товаров:</h3>
<%= render :partial => "filter", :locals => {:path => load_products_path(:id => params[:id], :object_type => @object_type ), :remote => true }%>
<%= render :partial => 'ajax_pagination' %>
<%= form_tag post_url do -%>
<%= render :partial => 'products', :locals => {:products => @lk_products, :should_check => true, :should_remove => false} %>
<div class="row pull-right">
  <%= submit_tag "Добавить отмеченные товары в КП", :class => "btn btn-primary"  if @lk_products.present? %>
</div>
<div class="clear">
<%= render :partial => 'ajax_pagination' %>
</div>
<% end -%>

