<% page_title @supplier.name  -%>

<% if giftpoisk? -%>
  <%= render :partial => 'search/ext_search2', :locals => {:hidden => true} %>
<% end -%>

<% if @supplier.firm -%>
<div class="b-supplier-header">
  <h1><%= @supplier.firm.name %></h1>
  <div class="logo">
    <%= image_tag @supplier.firm.logo if @supplier.firm %>
  </div>
<hr class="clear" />  
</div>

<div class="b-supplier-content">  
  <% if @supplier.terms.present? -%>
    <h2>Информация о компании</h2>
    <div class="addres"><%= sanitize(@supplier.firm.addr_f)  %></div>     
  <% end -%>  

  <div class="spacer"></div>

  <% if @supplier.address.present? -%>
    <h2>Условия работы</h2>
    <div class="description"><%= sanitize(@supplier.firm.description)  %></div>     
  <% end -%>
</div>

<% else -%>
  <div class="center_blocl">Страница на редактировании...</div>
<% end -%>  

