<table>
  <tr>
    <th>Изображение</th>
    <th>Имя файла</th>
    <th>Размер</th>
    <th>Основное</th>
    <th>Дт. создания</th>
    <th></th>
  </tr>
  <% @product.attach_images.each do |item| -%>
   <tr>
    	<td>
    	  <%= image_tag item.image.picture.url(:thumb) %>

    	</td>
    	<td>
    	  <%= item.image.picture_file_name %> <br />
     	  <%= link_to 'оригинал', "#", :onclick =>"window.open('#{item.image.picture.url}','new_window_name','height=300,width=300')" %>
    	</td>
    	<td>
    	  <%= number_to_human_size(item.image.picture_file_size) %>
    	</td>
    	<td><%= link_to checked_box_image(item.main_img), set_main_admin_product_image_path(@product.id, item.image_id), :remote => true  %></td>
    	<td>
    	  <%= item.image.created_at.to_s %>
    	</td>
    	<td><%= link_to image_tag('bin.png'), remove_admin_product_image_path(@product,item.image_id), :method => :delete, :confirm => 'Изображение будет отвязано от товараю Вы уверены?', :title=>'Отвязать изображение от товара'  %></td>
    </tr>
  <% end -%>

</table>

