<% content_for :meta_description, @category.meta_description -%>
<% content_for :meta_keywords, @category.meta_keywords -%>
<% page_title(Category.tree_nesting_by_name(Category.cached_active_categories, @category).join(' | ')) -%>
<div class="content"> 
<span class="article_s">Ссылка на текущую страницу: <%= link_to(@ltp, @ltp) %> </span>
<div class="text_center"> 
Краткое описание проекта + справа потом будет стоять модуль с ссылками
</div> 
<div class="center_block"> 
<p style="margin-bottom:10px;margin-left:0px;"><span style="color:#ff66cc;font-size:10pt"><strong>Рубрика: <a class="menu_left" href="#"><%= @category.name %></a></strong></span></p> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 
<%= render :partial => 'shared/paginate' %>

</div> <!-- end center_block --> 
 
<div class="center_block" id="catalog_items"> 
  <% for product  in @products do -%>
    <%= render :partial => 'shared/product', :object=>product %>  
  <% end -%>
  	
  <div class="clear"></div> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 
<%= render :partial => 'shared/paginate' %>
</div> <!-- end center_block --> 

<div class="center_block"> 
<div class="descript_category"><%= @category.description if @category.show_description %></div>
</div> <!-- end center_block --> 
 
 
</div> <!-- end content --> 
