<%= form_for [:admin,@supplier],  :html => {:class => 'one_line_form'}  do |f|%>
  <%= render :partial => 'shared/error_messages', :locals => {:target => @supplier} %>    
<div class="b-formfield-div">
  <%= f.label :name, 'Название поставщика' %>
  <%= f.text_field :name %>
</div>
<div class="b-formfield-div">
  <%= f.label :permalink %>
  <%= f.text_field :permalink %>
</div>
<div class="b-formfield-div">
  <%= f.label "Связан с фирмой" %>
  <%= link_to @supplier.firm.name, edit_admin_firm_path(@supplier.firm) if @supplier.persisted? && @supplier.firm %>
</div>
<div class="b-formfield-div">
  <%= f.label :allow_upload, 'Разрешить обработку xml' %>
  <%= f.check_box :allow_upload  %>
</div>
<div class="b-formfield-div">
  <%= f.label :group_id, 'Код группы' %>
  <%= f.text_field :group_id %>
</div>
<div class="b-formfield-div">
  <%= f.submit "Сохранить" %>
</div>
<%  end %>
<div class="clr"></div>
<%= raw textile_editor_initialize(:framework => :jquery) %>

