<%= render :partial => 'admin/shared/sub_menu_product' %>

<% title "Дополнительные свойства для товаров" -%>


<script type="text/javascript">
$(function() {
  $('a.pseudo-link').toggle(
    function() {
      $.get(this.href);
     }, 
     function(){
      $(this).parentsUntil('table').find('table').empty();
      });
});

</script>

<div class="b-command-menu">
  [<%= link_to 'Новое свойство' , new_admin_property_path %>]
</div>

<div class="grid_8 alpha">
<table>
  <th>Название</th>
  <th>Тип</th>
  <th>Категорий</th>  
  <th>Активно?</th>
  <th>Для поиска?</th>
  <th>Во всех товарах?</th>
  <th>
    Сортировка
  </th>
  <th></th>
  <% for item in @properties %>
  <tr>
    <td>
      <%= link_to '+', admin_property_path(item), :remote => true,  :class=>"pseudo-link",:title=>"Показать список значений для свойства" %>  <%= item.name %>
      <% content_for :property_name do %>

      <%end -%>
    </td>
    <td><%= item.property_type_text %></td>
    <td><%= item.category_ids.size %></td>
    <td class='center'><%= checked_box_image(item.active?) %></td>
    <td class='center'><%= checked_box_image(item.for_search?) %></td>
    <td class='center'><%= checked_box_image(item.for_all_products?) %></td>
    
    <td><%= item.sort_order %></td>
    <td>
      <%=  link_to image_tag('edit.png'), edit_admin_property_path(item.id), :title =>'Редактировать'  %>
      <%=  link_to image_tag('bin.png'), admin_property_path(item.id), :method=> :delete, :confirm => "Вы уверены?",  :title => 'Удалить'  %>
      <%= link_to image_tag('add.png'), new_admin_property_value_path(item.id), :title=>"Добавить значение для свойства"  %>
    </td>
  </tr>
  <tr>  
    <%= content_tag :td, :id => "prop_#{item.id}_values", :colspan => "5" do %>
        <%#= render :partial => 'property_values',  :locals =>{ :property=>item } %>
     <% end -%>
    </tr>     
  <% end %>
</table>
</div>




