<%= render :partial => 'admin/shared/sub_menu_product' %>

<% title "Дополнительные свойства для товаров" -%>

<div class="b-command-menu">
  [<%= link_to 'Новое свойство' , new_admin_property_path %>]
</div>

<div class="grid_8 alpha">
<table>
  <th>
    Название
  </th>
  <th>Тип</th>
  <th>
     Категорий
  </th>  
  <th>
    Активно?
  </th>
  <th>
    Сортировка
  </th>
  <th></th>
  <% for item in @properties %>
  <tr>
    <td>
      <%= link_to '+', "javascript:void($('#prop_#{item.id}_values').toggle());", :class=>"pseudo-link",:title=>"Показать список значений для свойства" %>  <%=h item.name %>
      <% content_for :property_name do %>

      <%end -%>
    </td>
    <td><%= item.property_type_text %></td>
    <td><%= item.category_ids.size %></td>
    <td class='center'>
      <%= checked_box_image(item.active?) %>
    </td>
    <td><%= item.sort_order %></td>
    <td>
      <%=  link_to image_tag('edit.png'), edit_admin_property_path(item.id), :title =>'Редактировать'  %>
      <%=  link_to image_tag('bin.png'), admin_property_path(item.id), :method=> :delete, :confirm => "Вы уверены?",  :title => 'Удалить'  %>
      <%= link_to image_tag('add.png'), new_admin_property_value_path(item.id), :title=>"Добавить значение для свойства"  %>
    </td>
  </tr>

        <%= render :partial => 'property_values',  :locals =>{ :property=>item } %>
    
  <% end %>
</table>
</div>




