<script type="text/javascript">
  $(document).ready(function()
  {
    $('.all-list').toggle(function(){
      $(this).prev().html('-');
    }, function(){
      $(this).prev().html('+');
    });    

    $('.all-list').bind('click', function(){
      $(this).prev().prev().parent().find('li.g-hidden').toggle();
	$('li').find('li.li_v');  
      return false;     
    });
  })
</script>

<ul class="ul_v">
<% Category.virtual.all.each do |cat| -%>
<li class="li_v">
<div class="article_z">
  <span style="text-align:center;width:120px;"><span class="article_img_1_z"><span class="article_img_2"><span class="article_img_3"> <%= image_tag url_for(:controller => cat.images.first.picture.url), :width =>"120", :height =>"120", :alt => cat.name, :title => cat.name unless cat.images.blank? %> </span></span></span></span> 
    <p><%= link_to(cat.name, "#", :class=> "text_b_z") %></p> 
    <ul class="text_c_ul">
    <% Category.cached_active_categories.select{|c| c.virtual_id == cat.id}.each_with_index do |child_cat, index| -%>
      <% if index > 4  -%>
        <%= content_tag(:li,link_to(child_cat.name, category_path(child_cat)+ '.html', :class=>"text_n_z", :title => child_cat.name), :class => "g-hidden") %>              
      <% else -%>
        <%= content_tag(:li,link_to(child_cat.name, category_path(child_cat)+ '.html', :class=>"text_n_z", :title => child_cat.name)) %>
      <% end -%>
    <% end -%>
	</ul>
<%= content_tag(:span, "+", :class => "text_n_z") + link_to( "весь список", "#", :class=>"all-list") if Category.cached_active_categories.select{|c| c.virtual_id == cat.id}.size >5 %>
	
</div>  
</li>
<% end -%>
</ul>
<div class="clear"></div>
