<script type="text/javascript">
  $(document).ready(function()
  {
    $('.all-list').toggle(function(){
      $(this).prev().html('-');
    }, function(){
      $(this).prev().html('+');
    });    

    $('.all-list').bind('click', function(){
      $(this).prev().prev().parent().find('li.g-hidden').toggle();        
      return false;     
    });
  })
//$(this).empty().prev().html().parents('ul li').find('.g-hidden').show();
</script>

<% Category.cached_active_categories.select{|c| c.kind==0 }.each do |cat| -%>
<li class="li_v">
<div class="article_z">
  <span style="text-align:center;width:120px;"><span class="article_img_1_z"><span class="article_img_2"><span class="article_img_3"> <%= image_tag url_for(:controller => cat.images.first.picture.url), :width =>"120px", :height =>"120px" unless cat.images.blank? %> </span></span></span></span> 
    <p><%= link_to_function(cat.name, "#", :class=> "text_b_z") %></p> 
    <ul class="text_c_ul">
    <% Category.cached_active_categories.select{|c| c.virtual_id == cat.id}.each_with_index do |child_cat, index| -%>
      <% if index > 4  -%>
        <%= content_tag(:li,link_to(child_cat.name, category_path(child_cat)+ '.html', :class=>"text_n_z"), :class => "g-hidden") %>              
      <% else -%>
        <%= content_tag(:li,link_to(child_cat.name, category_path(child_cat)+ '.html', :class=>"text_n_z")) %>
      <% end -%>
    <% end -%>
    <%= content_tag(:span, "+", :class => "text_n_z") + link_to( "весь список", "#", :class=>"all-list text_n_z") if Category.cached_active_categories.select{|c| c.virtual_id == cat.id}.size >5 %>
    </ul>
</div>  
</li>
<% end -%>
<div class="clear"></div>

