<% content_for :meta_description, @category.meta_description -%>
<% content_for :meta_keywords, @category.meta_keywords -%>
<% page_title(Category.tree_nesting_by_name(Category.cached_active_categories, @category).join(' | ')) -%>
<div class="content"> 
<div class="center_block"> 
<p class="product_h"><strong>Рубрика: <a class="menu_left" href="#"><%= @category.name %></a></strong></p> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 

<%= render :partial => 'foreign/shared/paginate', :object=> @products %>
</div> <!-- end center_block --> 
 
<div class="center_block" id="catalog_items"> 
  <% for product  in @products do -%>
    <%= render :partial => 'foreign/shared/product', :object=>product %>  
  <% end -%>
  	
  <div class="clear"></div> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 
<%= render :partial => 'foreign/shared/paginate', :object=> @products %>
<div class="mrg"></div>
</div> <!-- end center_block --> 

<div class="center_block"> 
<div class="descript_category"><%= @category.description if @category.show_description %></div>
</div> <!-- end center_block -->  
 
</div> <!-- end content --> 
