<%= form_for :user_session, :url=>user_session_path, :html=>{:id=>"login_form", :name => "login_form"} do |form| %>
    <%#= form.error_messages %>  
      <div class="lk_form" >
		<p class="text_10pt_999999_bold">Личный кабинет:</p> 
        <p class="text_9pt_999999_normal">имя: <%= form.text_field :username, :style=>"width:130px" %>
        <p class="text_9pt_999999_normal">пароль: <%= form.password_field :password, :style=>"width:130px" %>
        <%= form.submit ">>", :style=>"visibility:hidden; width:0px;" %>
        
		<a class="lk_login" onclick="login_form.submit();" >.</a></p> 
        <span style="color:#ff66cc;font-size:10pt"><%= flash[:login_error] %></span>
        <span class="lk_reg"><a href="/register">pегистрация</a></span> 
      </div> 
      <% end %>    
 