<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru"> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag  'main','jquery-ui-1.7.2.custom.css','jquery.treeview' %>  
  <%= javascript_include_tag :defaults, 'jquery.treeview', 'jquery.cookie' %>
 
  <script type="text/javascript">
    <%= yield :script %>
   $(document).ready(function() {
    $('.treeview').treeview({collapsed: true,persist: "cookie"});    
    <%= yield :document_ready %>
  });  
  </script>
</head> 
<body> 
  <div id="all_content"> 
       <%= yield :layout  %>
  </div> 
  <div id="left_content"> 
    <div class="left_block"> 
       <%= render :partial => 'shared/foreign/catalog' %>
    </div> 
  </div>  
</body> 
</html>
